body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

p,
blockquote {
  font-size: 0.9em;
  line-height: 1.6em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  padding: 0.8em 1.2em;
}

.blue-container {
  background-color: #00c2ff;
  width: 100%;
  color: white;
  margin-top: 15%;
  padding: 4em 0 2em;
  border-top-left-radius: 40px;
  transform: skewY(-2deg);
}

.blue-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #00c2ff;
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}

.blue-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff;
  top: -80px;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: -1;
}

.blue-container ul {
  transform: skewY(2deg);
}

.blue-container ul li {
  margin-bottom: 3em;
}

.blue-container ul li p {
  padding: 0.5 em;
}

.blue-container img {
  width: 14%;
}

.blue-container ul li :nth-child(3) img {
  width: 8%;
}

.grey-container {
  background-color: #f6f6f6;
  padding: 4em 0 2em;
  margin-top: -3%;
}

figure {
  margin: 0;
  padding: 2%;
}

figcaption {
  font-weight: bold;
  color: #00c2ff;
}

.logo {
  width: 130px;
}

.hide-mobile {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
}

.Menu {
  width: 25px;
  margin-top: 45%;
}

.server {
  width: 70%;
  margin: 2em auto 2em 25%;
}

h1,
.subhead {
  position: relative;
  z-index: 3;
}

.subhead {
  font-size: 1.1em;
}

h2 {
  margin-top: 7%;
}

.cta {
  background: #00cc80;
  width: calc(100% - 1em);
  display: block;
  border-radius: 20px;
  color: #fff;
  padding: 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  margin: 3% auto 7%;
  position: relative;
  z-index: 4;
}

.footer-container {
  width: 100%;
  background: #3d444a;
  color: #fff;
  padding: 3em 0;
  border-top-right-radius: 40px;
  transform: skewY(2deg);
}

.footer-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #3d444a;
  position: absolute;
  top: -39px;
  left: 0;
  z-index: -2;
}

.footer-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  top: -80px;
  left: 0;
  border-radius: 50%;
}

ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
}

ul.footer-links li a {
  color: #9d9d9d;
  font-size: 0.8em;
}

.footer-container ul {
  transform: skewY(-2deg);
}

nav ul {
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(36, 41, 44);
  height: 100%;
  z-index: 7;
  padding-top: 3em;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
  background-color: rgb(49, 55, 59);
}

nav ul li a:hover {
  background-color: rgb(65, 73, 78);
}

.exit-btn {
  margin-bottom: 1em;
  margin-top: -1.3em;
  text-align: right;
  padding: 0 1.4em;
}

.exit-btn img {
  width: 15px;
  cursor: pointer;
}

@media only screen and (min-width: 650px) {
  .server {
    width: 50%;
  }

  h1 {
    font-size: 3em;
    margin: 0;
  }

  .subhead {
    font-size: 1.4em;
    margin: 0;
  }

  .blue-container {
    margin: 0;
    padding: 3em 0;
  }

  .blue-container img {
    width: 30%;
  }

  .blue-container ul li :nth-child(3) img {
    width: 0%;
    margin-top: -6px;
  }

  .blue-container ul {
    display: flex;
    margin-top: -1em;
    align-items: center;
  }

  .blue-container ul li {
    padding: 10em;
    margin-bottom: 0;
  }

  .blue-container ul li p {
    padding: 0 0.8em;
  }

  .grey-container ul {
    display: flex;
    padding: 10em 30em;
  }

  nav ul {
    width: 40%;
  }
}

@media only screen and (min-width: 875px) {
  .subhead {
    margin-bottom: 15%;
  }

  .blue-container {
    padding: 1em;
  }

  .blue-container ul {
    margin: 0 0 4% 0;
  }
}

@media only screen and (min-width: 1024px) {
  .cta {
    width: 50%;
  }

  .container {
    width: 80%;
    margin: 0 auto;
  }

  .show-desktop {
    display: block;
    margin: 0 auto 13% auto;
  }

  .hide-desktop {
    display: none;
  }

  nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 0;
  }

  nav ul li {
    float: left;
  }

  nav ul li a {
    color: black;
    background-color: inherit;
    text-align: right;
    padding: 1em 2em;
  }

  nav ul li a:hover {
    opacity: 30%;
    background-color: white;
  }

  .navitem {
    color: black;
    width: 60px;
    padding: 25px;
  }
}
