.container {
    margin-left: auto;
}

mat-card {
    justify-content: center;
    background:#f2f2f7;
    box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,.288);
}

body{
    background:transparent;
}
