.container {
  background: #00000000;
  margin: 25px auto;
}
.body{
  background-color: #00000000;


}
.mat-card{
  background:#00000000;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94,104,121,.288);
  border-radius: 10px;
}
mat-card-content{
background: #00000000;
}

.rm{
  background-color: #00000000;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94,104,121,.288);
}
