<body>
  <!-- Navbar starts here -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  </nav>
  <!-- Navbar ends here -->
  <!-- Card for signup -->
  <div class="container">
    <mat-card>
      <!-- Card header -->
      <mat-card-header>
        <h1>Student Signup</h1>
      </mat-card-header>
      <!-- Card header ends -->
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <ng-template matStepLabel>Enter Main Details</ng-template>
          <form #f="ngForm">
            <mat-form-field>
              <input maxlength="32" matInput placeholder="First Name" type="text" required ngModel name="firstname"
                firstname #firstname="ngModel" [(ngModel)]="userService.selectedUser.firstname" />
              <mat-error style="color: red;" class="help-block" *ngIf="!firstname.valid && firstname.touched">Please
                Enter First Name</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input maxlength="32" matInput type="text" placeholder="Last Name" required ngModel name="lastname"
                #lastname="ngModel" [(ngModel)]="userService.selectedUser.lastname" />
              <mat-error class="help-block" *ngIf="!lastname.valid && lastname.touched">Please enter Last Name
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" matInput type="email" placeholder="Email" required ngModel name="email" email
                #email="ngModel" [(ngModel)]="userService.selectedUser.email" />
              <mat-error class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" matInput type="password" placeholder="Password" required id="password" minlength="8"
                ngModel pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" #password="ngModel"
                [(ngModel)]="userService.selectedUser.password" />
              <mat-error class="help-block" *ngIf="!password.valid && password.touched">Must contain at least one number
                and one uppercase and
                lowercase letter, 8 or more characters, and no special
                characters</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input maxlength="32" matInput type="password" placeholder="Confirm Password" required
                id="confirm_password" minlength="8" ngModel name="cPassword" #cPassword="ngModel"
                pattern="{{ password.value }}" />
              <mat-error class="help-block" *ngIf="!cPassword.valid && cPassword.touched">Passwords Do Not Match
              </mat-error>
            </mat-form-field>
          </form>
          <div>
            <button mat-button matStepperNext [disabled]="!f.valid" type="button">
              Next
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Tell us more about yourself</ng-template>
          <form #g="ngForm">
            <mat-form-field>
              <input maxlength="32" placeholder="Date of Birth" matInput type="date" required ngModel name="DOB"
                #DOB="ngModel" [(ngModel)]="userService.selectedUser.DOB" />
              <mat-error class="help-block" *ngIf="!DOB.valid && DOB.touched">Please Enter Date Of Birth</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input maxlength="32" matInput type="text" required ngModel name="city" #city="ngModel"
                [(ngModel)]="userService.selectedUser.city" placeholder="Enter your City" />
              <mat-error class="help-block" *ngIf="!city.valid && city.touched">Enter your city</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" maxlength="32" placeholder="Enter your pincode" matInput required ngModel name="pincode" #pincode="ngModel" [(ngModel)]="userService.selectedUser.pincode">
              <mat-error class="help-block" *ngIf="!pincode.valid && pincode.touched">Please Enter Pincode</mat-error>
            </mat-form-field>
          </form>
          <br />
          <div>
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button matStepperNext [disabled]="!g.valid" type="button">
              Next
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup">
          <ng-template matStepLabel>Security</ng-template>
         
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext [disabled]="f.invalid || g.invalid">
              Next
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="fourthFormGroup">
          <ng-template matStepLabel>Confirm your Details</ng-template>
          <form #h="ngForm" (ngSubmit)="h.valid && onSubmit(h)">
            <mat-form-field>
              <input maxlength="32" readonly matInput placeholder="First Name" type="text" required ngModel
                name="firstname" firstname #firstname="ngModel" [(ngModel)]="userService.selectedUser.firstname" />
            </mat-form-field>
            <mat-form-field>
              <input maxlength="32" readonly matInput type="text" placeholder="Last Name" required ngModel
                name="lastname" #lastname="ngModel" [(ngModel)]="userService.selectedUser.lastname" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" readonly matInput type="email" placeholder="Email" required ngModel name="email"
                email #email="ngModel" [(ngModel)]="userService.selectedUser.email" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" readonly matInput type="password" placeholder="Password" required id="password"
                minlength="8" ngModel pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="password" #password="ngModel"
                [(ngModel)]="userService.selectedUser.password" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" readonly placeholder="Date of Birth" matInput type="text" required ngModel
                name="DOB" #DOB="ngModel" [(ngModel)]="userService.selectedUser.DOB" />
            </mat-form-field>
            <mat-form-field>
              <input maxlength="32" readonly matInput type="text" required ngModel name="city" #city="ngModel"
                [(ngModel)]="userService.selectedUser.city" placeholder="Enter your City" />
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="text" maxlength="32" readonly matInput required ngModel name="pincode" #pincode="ngModel" [(ngModel)]="userService.selectedUser.pincode">
            </mat-form-field>
            <mat-form-field>
              <input maxlength="32" readonly matInput type="text" placeholder="Security Question" required ngModel
                name="securityQuestion" #securityQuestion="ngModel"
                [(ngModel)]="userService.selectedUser.securityQuestion" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" readonly matInput type="text" placeholder="Security Answer" required ngModel
                name="securityAnswer" #securityAnswer="ngModel" [(ngModel)]="userService.selectedUser.securityAnswer" />
            </mat-form-field>
            <re-captcha (resolved)="resolved($event)" siteKey="6LdNCbYUAAAAAAtM-ojfBuOhVFcjnmsUEZFjjMNj"
              data-callback="recaptchaCallback"></re-captcha>
            <script>
              function recaptchaCallback() {
                console.log("Hello World");
                if (grecaptcha.getResponse().length !== 0) {
                  // ...
                  document.getElementById("btnSubmit").disabled = false;
                }
              }
            </script>
            <button id="btnSubmit" [disabled]="!h.valid || !Captchaval" mat-button type="submit">
              Create
            </button>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card>
  </div>
</body>