<div class="container">
    <h1 class="text-center">Big Events Page</h1>
    <!-- MUST ADD STYLING LATER -->
    <p class="text-justify">Event Name</p>
    <p class="text-justify">Event Starting Date</p>
    <p class="text-justify">Event Ending Date</p>
    <p class="text-justify">Event Description</p>
    <p class="text-justify">Event Target Age</p>
    <p class="text-justify">Event Interests</p>
    <p class="text-justify">Event Address Line 1</p>
    <p class="text-justify">Event Address Line 2</p>
    <p class="text-justify">Event Pincode</p>
</div>