<head>

</head>
<app-main-nav>

  <body>
    <div class="container">
      <br>
      <div class="container">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let int of interests">
            {{ int }}
            <form #d="ngForm">
              <button class="btn btn-danger" (click)="deleteInterest(d,int)"><span
                  class="glyphicon glyphicon-trash">Delete</span></button>
            </form>
          </li>
        </ul>
      </div>
      <br>
      <br>
      <br>
      <mat-card style="text-align: center;">
        <mat-card-header class="text-center" style="justify-content: center;">
          <mat-card-title>
            <h2>Add An Interest</h2>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select (selectionChange)="selectionChanged()" name="catName" [(ngModel)]="catName">
              <mat-option *ngFor="let cat of categoryOption" [value]="cat.catId">{{ cat.catName }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Subcategory</mat-label>
            <mat-select name="subCatName" [(ngModel)]="subCatName">
              <mat-option *ngFor="let subCat of subcatOptions" [value]="subCat.subCatName">{{ subCat.subCatName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <button style="margin: 2rem;background-color: #fafafa;
              box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94,104,121,.288);" mat-raised-button
            (click)="adduserInterestList()">Add interests</button>
        </mat-card-content>
      </mat-card>
    </div>
  </body>
</app-main-nav>
