.example-card {
  margin: 1rem;
  width: 20rem;
  height: 37rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

body {
  height: 100%;
  box-sizing: border-box;
  background: #00000000;
}

.mat-card {
  background: #ffffff;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, .288);
  border-radius: 10px;
}

.rm {
  background-color: #ffffff;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94, 104, 121, .288);
}

img {
  width: 20rem;
  height: 20rem;
  object-fit: scale-down;
}

.container {
  background: #00000000;
}

.example-card2 {
  margin: 3rem;
  width: 10rem;
  height: 10rem
}
