@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.box1 {
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.6);
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  top: 0;
  left: 0;
}

body {
  background-color: #00c2ff;
  height: 170vh;
  background-size: cover;
  background-position: center;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #e6e6e6;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: rgb(6, 8, 8);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reqMargin {
  width: 400px;
  padding: 10% 0 0;
  margin: auto;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
[hidden] {
  display: none !important;
}

.spinning {
  margin-left: 50%;
  margin-top: 20%;
}


