<div class="background">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <div class="navbar-collapse collapse justify-content-between">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">LOGO</a>
          </li>
          <!--->
                   <li class="nav-item">
                       <a class="nav-link" href="#">Home</a>
                   </li>---->
        </ul>
        <div class="wrap">
          <div class="search">
            <input maxlength="32" type="text" class="searchTerm" placeholder="What are you looking for?" />
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#" routerLink="/dashboard">Dashboard</a>
          <a class="nav-item nav-link" href="#" routerLink="/achievements">Achievements</a>
          <a class="nav-item nav-link" routerLink="/">Logout</a>
        </div>
      </div>
    </nav>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Create Event
    </button>
    <!-- Modal -->
    <div id="exampleModal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title">Add Event</h1>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <!-- Registering the Event -->
            <h5>Register Your Event</h5>
            <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)">
              <div class="form-group">
                <label class="control-label">Event Name</label>
                <div>
                  <input maxlength="32" type="text" class="form-control input-lg" value="" required ngModel
                    name="evnName" #evnName="ngModel" [(ngModel)]="eventService.selectedEvent.evnName" />
                  <span class="help-block" *ngIf="!evnName.valid && evnName.touched">Please enter Event Name</span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label">Event Website Link</label>
                <div>
                  <input type="text" class="form-control" required ngModel name="evnOrganizerPage"
                    #evnOrganizerPage="ngModel" [(ngModel)]="eventService.selectedEvent.evnOrganizerPage" />
                  <span class="help-block" *ngIf="!evnOrganizerPage.valid && evnOrganizerPage.touched">Please add a link
                    to your website</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Event Starting Date</label>
                <div>
                  <input maxlength="32" type="date" id="date" required ngModel name="evnDate1" #evnDate1="ngModel"
                    [(ngModel)]="eventService.selectedEvent.evnDate1" />
                  <p class="help-block" *ngIf="!evnDate1.valid && evnDate1.touched">
                    Please add Event date
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Event Ending Date</label>
                <div>
                  <input maxlength="32" type="date" id="date" required ngModel name="evnDate2" #evnDate2="ngModel"
                    [(ngModel)]="eventService.selectedEvent.evnDate2" />
                  <span class="help-block" *ngIf="!evnDate2.valid && evnDate2.touched">
                    Please add Event date
                  </span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Target Interests (Comma separated)</label>
                <div>
                  <input type="text" id="interests" class="form-control" required ngModel name="evnInterests"
                    #evnInterests="ngModel" [(ngModel)]="eventService.selectedEvent.evnInterests">
                  <span class="help-block" *ngIf="!evnInterests.valid && evnInterests.touched">Please Add Event
                    Interests</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Event Address Line 1</label>
                <div>
                  <input maxlength="32" type="text" id="evn" class="form-control" name="evnAdd1" required ngModel
                    #evnAdd1="ngModel" [(ngModel)]="eventService.selectedEvent.evnAdd1" />
                  <span class="help-block" *ngIf="!evnAdd1.valid && evnAdd1.touched">Please Enter Event
                    Address Line 1</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Event Address Line 2</label>
                <div>
                  <input maxlength="32" type="text" id="evn" class="form-control" name="evnAdd2" required ngModel
                    #evnAdd2="ngModel" [(ngModel)]="eventService.selectedEvent.evnAdd2" />
                  <span class="help-block" *ngIf="!evnAdd2.valid && evnAdd2.touched">Please Enter Event
                    Address Line 2</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Pincode</label>
                <div>
                  <input type="text" maxlength="32" class="form-control" name="evnPincode" required ngModel
                    #evnPincode="ngModel" [(ngModel)]="eventService.selectedEvent.evnPincode">
                  <span class="help-block" *ngIf="!evnPincode.valid && evnPincode.touched">Please Enter Event
                    Pincode</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Contact Number</label>
                <div>
                  <input maxlength="32" type="text" class="form-control" pattern="[6789][0-9]{9}" required ngModel
                    name="evnOrganizerContact" #evnOrganizerContact="ngModel"
                    [(ngModel)]="eventService.selectedEvent.evnOrganizerContact" />
                  <span class="help-block" *ngIf="
                      !evnOrganizerContact.valid && evnOrganizerContact.touched
                    ">Please Enter a Valid contact Number</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Event Description</label>
                <div>
                  <!-- <textarea class="form-control" required ngModel name="evnDescription"
                     #evnDescription="ngModel" [(ngModel)]="eventService.selectedEvent.evnDescription"
                    cols="30" rows="10"></textarea> -->
                  <input type="text" class="form-control" required ngModel name="evnDescription"
                    #evnDescription="ngModel" [(ngModel)]="eventService.selectedEvent.evnDescription">
                  <span class="help-block" *ngIf="!evnDescription.valid && evnDescription.touched">Please Enter A
                    Description</span>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label">Target Age</label>
                <div>
                  <input type="number" maxlength="3" class="form-control" required ngModel name="evnTargetAge"
                    #evnTargetAge="ngModel" [(ngModel)]="eventService.selectedEvent.evnTargetAge">
                  <span class="help-block" *ngIf="!evnTargetAge.valid && evnTargetAge.touched">Please Enter Target Age</span>
                </div>
              </div>
              <div class="form-group">
                <div>
                  <button class="btn btn-primary" [disabled]="!f.valid" data-dismiss="modal" data-target="#exampleModal" (click)="onSubmit(f)">
                    Register
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
  </body>
</div>