  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <app-main-nav>

    <body>
      <div class="container">
        <mat-tab-group [selectedIndex]="selected.value">
          <mat-tab label="Add an event">
            <br>
            <br>
            <div class="container text-align-center" style="margin-top: 20rem; display: flex; justify-content: center;">
              <mat-card class="mat-elevation-z6"
                style="margin-bottom: 3rem; width: 15rem; text-align: center;">
                <mat-card-header>
                  <mat-card-title>Add an Event</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <p>Add an event now, and increase your credibility as an organizer.</p>
                  <button mat-raised-button data-target="#exampleModal" data-toggle="modal">Add</button>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-tab>
          <mat-tab label="Manage your events">
            <div class="container">
              <br>
              <div class="row">
                <mat-card class="example-card mat-elevation-z14 CARD" *ngFor="let evn of myEvents">
                  <mat-card-header>
                    <mat-card-title>{{ evn.evnName }}</mat-card-title>
                    <mat-card-subtitle>{{ evn.evnDate1 }} to {{ evn.evnDate2 }}</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image class="img-responsive" src="https://backend-athena.herokuapp.com/{{ evn.Image }}"
                    alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      {{ evn.evnDescription.substring(0,100) + "...." }}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <form #e="ngForm">
                      <button mat-raised-button class="rm" (click)="sendDetails(e, evn._id)">READ MORE</button>
                    </form>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </body>
  </app-main-nav>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)">
            <mat-form-field>
              <input maxlength="32" matInput placeholder="Event Name" type="text" value="" required ngModel
                name="evnName" #evnName="ngModel" [(ngModel)]="eventService.selectedEvent.evnName" />
              <mat-error class="help-block">Please enter Event
                Name</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="text" matInput required placeholder="Event Website" ngModel name="evnOrganizerPage"
                #evnOrganizerPage="ngModel" [(ngModel)]="eventService.selectedEvent.evnOrganizerPage" />
              <mat-error class="help-block">Please add
                a
                link
                to your website</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input maxlength="32" matInput max="01-01-2025" placeholder="Event Starting Date" (change)="setMaxDate()"
                type="date" id="evnDate1" required ngModel name="evnDate1" #evnDate1="ngModel"
                [(ngModel)]="eventService.selectedEvent.evnDate1" [min]="maxDate">
              <mat-error class="help-block">
                Please add Event date
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Event Ending Date" id="evnDate2" max="01-01-2025" maxlength="32" type="date"
                id="evnDate2" required ngModel name="evnDate2" #evnDate2="ngModel"
                [(ngModel)]="eventService.selectedEvent.evnDate2" [min]="newDate">
              <mat-error class="help-block">
                Please add Event date
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Address Line 1" maxlength="32" type="text" id="evn" name="evnAdd1" required
                ngModel #evnAdd1="ngModel" [(ngModel)]="eventService.selectedEvent.evnAdd1" />
              <mat-error class="help-block" *ngIf="!evnAdd1.valid && evnAdd1.touched">Please Enter Event
                Address Line 1</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput maxlength="32" placeholder="Address Line 2" matInput type="text" id="evn" name="evnAdd2"
                required ngModel #evnAdd2="ngModel" [(ngModel)]="eventService.selectedEvent.evnAdd2" />
              <mat-error class="help-block">Please Enter Event
                Address Line 2</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="text" maxlength="32" placeholder="City" matInput required ngModel name="evnCity"
                [(ngModel)]="eventService.selectedEvent.evnCity">
              <mat-error class="help-block">Please enter Your City</mat-error>
              <!-- <mat-autocomplete #auto="matAutocomplete" style="z-index: 10000;">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete> -->
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput type="number" placeholder="Event Pincode" max="999999" name="evnPincode" required ngModel
                #evnPincode="ngModel" [(ngModel)]="eventService.selectedEvent.evnPincode">
              <mat-error class="help-block" *ngIf="!evnPincode.valid && evnPincode.touched">Please Enter Event
                Pincode</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput placeholder="Contact Number" max="9999999999" type="number" pattern="[6789][0-9]{9}"
                required ngModel name="evnOrganizerContact" #evnOrganizerContact="ngModel"
                [(ngModel)]="eventService.selectedEvent.evnOrganizerContact" />
              <mat-error class="help-block" *ngIf="!evnOrganizerContact.valid && evnOrganizerContact.touched">
              </mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput type="text" required ngModel placeholder="Event Description" name="evnDescription"
                #evnDescription="ngModel" [(ngModel)]="eventService.selectedEvent.evnDescription">
              <mat-error class="help-block" *ngIf="!evnDescription.valid && evnDescription.touched">Please Enter A
                Description</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input matInput type="number" maxlength="3" placeholder="Target Age" max="99" required ngModel
                name="evnTargetAge" #evnTargetAge="ngModel" [(ngModel)]="eventService.selectedEvent.evnTargetAge">
              <mat-error class="help-block" *ngIf="!evnTargetAge.valid && evnTargetAge.touched">Please Enter Target
                Age</mat-error>
            </mat-form-field>
            <br>
            <div class="form-group">
              <label class="control-label">Upload an Image</label>
              <div class="custom-file mb-3">
                <input type="file" required class="custom-file-input" name="file" id="file1" [(ngModel)]="file"
                  (change)="readSingleFile($event)" [(ngModel)]="eventService.selectedEvent.Image" />
                <label class="custom-file-label" for="file1" id="file-label">Choose file</label>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Category Name</label>
              <div>
                <ngx-select-dropdown (change)="selectionChanged($event)" [config]="config" [options]="categoryOption">
                </ngx-select-dropdown>
                <label class="control-label">Sub category Name</label>
                <ngx-select-dropdown [multiple]="true" name="subCatName" [(ngModel)]="subCatName"
                  [config]="configSubCat" [options]="subcatOptions"></ngx-select-dropdown>
              </div>
            </div>
            <div class="form-group">
              <div>
                <button class="btn btn-primary" [disabled]="!f.valid" data-dismiss="modal" data-target="#exampleModal"
                  (click)="onSubmit(f)">
                  Register
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
