<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<!-- <div class="container">
<div class='card'>
  <h1 class="card-title" style="color: black;">{{x.evnName}}</h1>
  <img class="evnImage" src="http://localhost:3000/{{x.Image}}" alt="image">
  <p>Event Starting Date: {{x.evnDate1}} </p>
  <p>Event Ending Date: {{x.evnDate2}}</p>
  <p>Event Organizer Page : <a href="{{ x.evnOrganizerPage }}" target="_blank">{{ x.evnOrganizerPage }}</a>
  </p>
  <p>Event Pincode : {{ x.evnPincode }}</p>
  <p>Event Description : {{ x.evnDescription }}</p>
  <p>Event Target Age: {{ x.evnTargetAge }}</p>
  <ul *ngFor="let lol of x.evnInterests">
    <li>{{lol}}</li>
  </ul>
  <p>Event Address : {{ x.evnLocation }}</p>
  <p>Event Organizer Name: {{ x.evnOrganizerName }}</p>
  <p>Event Organizer Conatct Number: {{ x.evnOrganizerContact }}</p>
  <form #g="ngForm">
    <button class="btn btn-success" style="margin-left: 50%;" (click)="sendDetails(g, x._id)">Follow Event</button>
  </form>
</div>
</div>
<app-sidenav></app-sidenav> -->

<body>
  <app-sidenav></app-sidenav>
  <br>
  <br>
  <div class="container">
    <div class="row h-30">
      <div class="col-8">
        <img src="http://localhost:3000/{{ x.Image }}" alt="Event Image here" class="img-fluid rounded">
      </div>
      <div class="col-4">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ x.evnName }}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <i class="fa fa-calendar fa-2x"></i>
            <span>{{ x.evnDate1 }} | {{ x.evnDate2 }}</span>
            <br>
            <br>
            <i class="fa fa-location-arrow fa-2x"></i>
            <span>{{ x.evnLocation }}</span>
          </mat-card-content>
          <mat-card-actions>
            <form #g="ngForm">
              <button class="btn btn-primary" style="margin-right: 2rem;" [disabled]="following"
                (click)="sendDetails(g, x._id)"><i class="fa fa-heart fa-2x"></i></button>
              <span>Follow This Event</span>
            </form>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-8">
        <h1>About</h1>
        <p>{{ x.evnDescription }}</p>
        <h1>Venue</h1>
        <p>{{ x.evnLocation }}</p>
        <p>{{ x.evnPincode }}</p>
      </div>
    </div>
  </div>
</body>
