.bd-example {
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 70%);
}

h1 {
    float: left;
    margin-bottom: 22rem;
    font-weight: 600;
}

@media screen and (max-width: 890px ){
    .bd-example {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }


}