/* -------------------------------------------------------- Type Zero CSS Below --------------------------------------------------------- */

/* 
.tl {
  width: 100%;
  height: 50%;
}

body {
  background-color: #00c2ff;
  height: 170vh;
  background-size: cover;
  background-position: center;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #e6e6e6;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: rgb(6, 8, 8);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
  text-align: center;
  color:  #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-accordion,
mat-expansion-panel {
  margin-bottom: 25px;
} */
/* ----------------------------------------------------------- Type One CSS Ends --------------------------------------------------------- */

/* ----------------------------------------------------------- Type One CSS Below -------------------------------------------------------- */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #43cea2, #185a9d); 
}

.cont {
  position: relative;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cont .card_try {
  position: relative;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 0;
}

.cont .card_try:nth-child(odd) {
  flex-direction: row;
}

.cont .card_try:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.cont .card_try:nth-child(even) .imgBx {
  left: -25px;
}

.cont .card_try .imgBx {
  position: relative;
  left: 25px;
  width: 500px;
  height: 400px;
  z-index: 1;
}

.cont .card_try .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont .card_try .contentBx {
  position: relative;
  right: 25px;
  width: 500px;
  height: 400px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px 60px 20px 100px;
}

.cont .card_try .contentBx:before {
  content: '';
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}

.cont .card_try:nth-child(even) .contentBx {
  right: -25px;
  padding:20px 100px 20px 60px;
}

.cont .card_try .contentBx h2 {
  font-size: 30px;
  color:  #000;
}

.cont .card_try .contentBx p {
  margin-top: 10px;
  color:  #000;
}

.cont .card_try .contentBx button {
  display: inline-block;
  margin-top: 15px;
  color:  #000;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #000;
}

@media (max-width: 1000px) {
  .cont .card_try {
    flex-direction: column;
    max-width: 350px;
    margin: 25px 25px;
  }

  .cont .card_try .imgBx {
    width: 100%;
    height: 250px;
    left: 0;
  }

  .cont .card_try .contentBx {
    width: 1005;
    height: auto;
    right: 0;
    padding: 30px;
    text-align: center;
  }

  .cont .card_try .contentBx:before {
    top: 0;
    bottom: 0;
  }

  .cont .card_try:nth-child(even) .imgBx {
    left: 0;
  }

  .cont .card_try:nth-child(even) .contentBx {
    right: 0;
    padding: 30px;
  }
} */

/* ---------------------------------------------------- Type One CSS Ends ---------------------------------------------------------------- */
/* --------------------------------------------------- Type Two CSS Below ---------------------------------------------------------------- */

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #003e46;
  }
  
  .cont  {
    max-width: 1000px;
    display: flex;
    margin: 50px 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 15px;
    background: #000;
    box-shadow: 0 30px 30px rgba(0,0,0,0.5);
  }
  
  .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
  }
  
   .box:hover .imgBx img {
     opacity: 0;
   }
  
   .box .content {
     position: absolute;
     bottom: 20px;
     left: 10%;
     width: 80%;
     height: 60px;
     background: #fff;
     transition: 0.5s;
     overflow: hidden;
  
     padding: 15px;
     box-sizing: border-box;
   }
  
   .box:hover .content {
     width: 100%;
     height: 100%;
     bottom: 0;
     left: 0;
   }
  
   .box .content h3 {
     margin: 0;
     padding: 0;
     font-size: 20px;
   }
  
   .box .content p {
     margin: 10px 0 0;
     padding: 0;
     opacity: 0;
     line-height: 1.2em;
     transition: 0.5s;
     text-align: justify;
   }
  
   .box:hover .content p {
     opacity: 1;
     transition-delay: 0.5s;
   }  
  
   .cont .content button {
    display: inline-block;
    margin-top: 15px;
    color:  #000;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #000;
   }