<body>
  <app-navbar></app-navbar>
  <!-- Image carousel of events below -->
  <app-carousel *ngIf="showCarousel"></app-carousel>
  <br>
  <section id="why" style="background-color:white;">
    <h1 class="text-center" style="color: black;">Why Athena ?</h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">A repository for your achievements</h5>
              <p class="card-text">Get your certificates stored and retrieve them anytime with the click of a button</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Events based on what you like</h5>
              <p class="card-text">Add your interests to your profile and we show you events catered to your interests
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Showcase your grades, or keep them a secret</h5>
              <p class="card-text">Store all your marks cards and individual exam ranks exactly as you need and keep it
                readily accessible.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </section>
  <!-- Our Team section -->
  <section id="team" class="pb-5">
    <div class="container">
      <h5 class="section-title h1">OUR TEAM</h5>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="./../../../../assets/images/anand.jpg" alt="card image">
                    </p>
                    <h4 class="card-title">Anand</h4>
                    <p class="card-text">Fullstack Developer and AWS Expert</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Anand Rajaram</h4>
                    <p class="card-text">Anand is an aspiring web developer who is skillful with HTML5, CSS3 and
                      Bootstrap, and also with frontend JavaScript frameworks like Angular 8. He is also fluent
                      in deployment of Angular Sites to S3.  He understands the key components of
                    User Experience and has designed many parts of the site adhering to them. </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="./../../../../assets/images/sumuk.jpg" alt="card image">
                    </p>
                    <h4 class="card-title">Sumuk</h4>
                    <p class="card-text">Backend Developer, Recommendations and Security Expert</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Sumuk Shashidhar</h4>
                    <p class="card-text">Sumuk Shashidhar is a backend web developer who has an eye for detail. He is
                      extremely skillful with backend infrastructures like NodeJS and Express Frameworks, as well as a thorough understanding of NoSQL Databases.
                      He has experience with machine learning and recommendation models and has implemented many microservices, such as the proprietary DaVinci Recommendation algorithm, developed just for Athena. </p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
              <div class="frontside">
                <div class="card">
                  <div class="card-body text-center">
                    <p><img class=" img-fluid"
                        src="./../../../../assets/images/anirudh.jpg" alt="card image">
                    </p>
                    <h4 class="card-title">Anirudh</h4>
                    <p class="card-text">Frontend Developer</p>
                  </div>
                </div>
              </div>
              <div class="backside">
                <div class="card">
                  <div class="card-body text-center mt-4">
                    <h4 class="card-title">Anirudh Lakhotia</h4>
                    <p class="card-text">Anirudh is a frontend web developer with an eye for detail.</p>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-skype"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a class="social-icon text-xs-center" target="_blank" href="#">
                          <i class="fa fa-google"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="footer">
    <h1 class="text-center">Contact us here</h1>
    <p class="text-center">Email: developersatathena@gmail.com</p>
    <p class="text-center">GitHub: You can check out our contributions <a href="https://github.com/sumukshashidhar/athena-pvt/graphs/contributors">here</a>!</p>
    <p class="text-center">©2020 1athena. A subsidiary of <a href = "https://1sigmoid.ml">1sigmoid</a></p>
  </section>
</body>
