<div class="container">
  <mat-card>
    <mat-card-header>
      <h1>Reset Password</h1>
    </mat-card-header>
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step>
        <ng-template matStepLabel>Enter email address</ng-template>
        <form #a="ngForm">
          <mat-form-field>
            <input
              maxlength="32"
              matInput
              type="email"
              placeholder="Email ID"
              required
              ngModel
              name="email"
              #email="ngModel"
              [(ngModel)]="passService.selectedEmail.email"
            />
            <mat-error class="help-block" *ngIf="!email.valid && email.touched"
              >Please enter email
            </mat-error>
          </mat-form-field>
          <br />
          <button
            mat-button
            matStepperNext
            [disabled]="!a.valid"
            (click)="onSubmit(a) && refreshQuestion()"
          >
            Next
          </button>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Enter Security Answer</ng-template>
        <form #b="ngForm">
          <mat-form-field>
            <input
              maxlength="32"
              matInput
              placeholder="Email"
              type="text"
              value="{{ passService.selectedEmail.email }}"
              ngModel
              name="email"
              #email="ngModel"
              [(ngModel)]="answerService.selectedAnswer.email"
            />
          </mat-form-field>
          <br />
          <mat-form-field>
            <input
              maxlength="32"
              matInput
              type="text"
              placeholder="Security Question"
              value="{{ x }}"
              ngModel
              name="securityQuestion"
              #securityQuestion="ngModel"
              [(ngModel)]="answerService.selectedAnswer.securityQuestion"
            />
          </mat-form-field>
          <br />
          <mat-form-field>
            <input
              maxlength="32"
              matInput
              type="text"
              placeholder="Security Answer"
              required
              ngModel
              name="securityAnswer"
              #securityAnswer="ngModel"
              [(ngModel)]="answerService.selectedAnswer.securityAnswer"
            />
          </mat-form-field>
          <br />
          <button mat-button [disabled]="!b.valid" (click)="onsubmit(b)">
            Confirm
          </button>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>
