<div class='card'>
  <h1 class="card-title" style="color: black;">{{x.evnName}}</h1>
<img class="evnImage" src="http://ec2-15-206-148-32.ap-south-1.compute.amazonaws.com:3000/{{x.Image}}" alt="image">


<p >Event Starting Date: {{x.evnDate1}} </p>
<p>Event Ending Date: {{x.evnDate2}}</p>
<p>Event Organizer Page : <a href="{{ x.evnOrganizerPage }}" target="_blank">{{ x.evnOrganizerPage }}</a>
</p>
<p>Event Pincode : {{ x.evnPincode }}</p>
<p>Event Description : {{ x.evnDescription }}</p>
<p>Event Target Age: {{ x.evnTargetAge }}</p>
<ul *ngFor="let lol of x.evnInterests">
  <li >{{lol}}</li>
</ul>
<p>Event Address : {{ x.evnLocation }}</p>
<p>Event Organizer Name: {{ x.evnOrganizerName }}</p>
<p>Event Organizer Conatct Number: {{ x.evnOrganizerContact }}</p>
<!-- <img src="http://ec2-15-206-148-32.ap-south-1.compute.amazonaws.com:3000/{{ x.Image }}" /> -->
<form #g="ngForm">
  <button class="btn btn-success" style="margin-left: 50%;" (click)="sendDetails(g, x._id)">Follow Event</button>
</form>
</div>
<app-sidenav></app-sidenav>
