<body *ngIf="showCarousel">
  <app-navbar></app-navbar>
  <!-- Image carousel of events below -->
  <app-carousel></app-carousel>
  <br>
  <section style="background-color:white;">
    <h1 class="text-center" style="color: black;">Why Athena ?</h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">A repository for your achievements</h5>
              <p class="card-text">Get your certificates stored and retrieve them anytime with the click of a button</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Events based on what you like</h5>
              <p class="card-text">Add your interests to your profile and we show you events catered to your interests
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Showcase your grades, or keep them a secret</h5>
              <p class="card-text">Store all your marks cards and individual exam ranks exactly as you need and keep it
                readily accessible.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </section>
</body>

<body *ngIf="!showCarousel">
  <app-navbar></app-navbar>
  <!-- Image carousel of events below -->
  <!-- <app-carousel></app-carousel> -->
  <br>
  <section style="background-color:white;">
    <h1 class="text-center" style="color: black;">Why Athena ?</h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">A repository for your achievements</h5>
              <p class="card-text">Get your certificates stored and retrieve them anytime with the click of a button</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Events based on what you like</h5>
              <p class="card-text">Add your interests to your profile and we show you events catered to your interests
              </p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Showcase your grades, or keep them a secret</h5>
              <p class="card-text">Store all your marks cards and individual exam ranks exactly as you need and keep it
                readily accessible.</p>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
  </section>
</body>

