<div class="background">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <app-loading *ngIf="showSpinner"></app-loading>

  <body *ngIf="!showSpinner">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <div class="navbar-collapse collapse justify-content-between">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">LOGO</a>
          </li>
        </ul>

        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#" routerLink="/dashboard"
            >Dashboard</a
          >
          <a class="nav-item nav-link" href="#" routerLink="/achievements"
            >Achievements</a
          >
          <a class="nav-item nav-link" routerLink="/">Logout</a>
        </div>
      </div>
      <div class="wrap">
        <div class="search">
          <input
            maxlength="32"
            type="text"
            class="searchTerm"
            placeholder="What are you looking for?"
          />
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </nav>
    <h4 style="text-align: center; color: white; margin: 5px;">
      Upcoming Events
    </h4>
    <div class="container">
      <!-- <mat-card *ngFor="let evn of eventService.events">
            <mat-card-header>
                <mat-card-title>{{evn.evnName}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{evn.evnDate}}</p>
            </mat-card-content>
        </mat-card> -->
      <mat-accordion *ngFor="let evn of eventService.events">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ evn.evnName }}
            </mat-panel-title>
            <mat-panel-description>
              Event Description Here
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Event Date: {{ evn.evnDate1 }}</p>
          <span>Event Website: </span
          ><a href="{{ evn.evnOrganizerPage }}" target="_blank">{{
            evn.evnOrganizerPage
          }}</a>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </body>
</div>
