  <app-loading *ngIf="showSpinner"></app-loading>

  <!-- -------------------------------------------------- Events Page Type Zero HTML Below ------------------------------------------------------ -->

  <!-- <body *ngIf="!showSpinner">
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <div class="navbar-collapse collapse justify-content-between">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">LOGO</a>
          </li>
        </ul>

        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#" routerLink="/dashboard">Dashboard</a>
          <a class="nav-item nav-link" href="#" routerLink="/achievements">Achievements</a>
          <a class="nav-item nav-link" routerLink="/">Logout</a>
        </div>
      </div>
      <div class="wrap">
        <div class="search">
          <input maxlength="32" type="text" class="searchTerm" placeholder="What are you looking for?" />
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </nav>
    <h4 style="text-align: center; color: white; margin: 5px;">
      Upcoming Events
    </h4>
    <div class="cont">
      <mat-accordion *ngFor="let evn of eventService.events">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ evn.evnName }}
            </mat-panel-title>
            <mat-panel-description>
              Event Description Here
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>Event Date: {{ evn.evnDate1 }}</p>
          <span>Event Website: </span><a href="{{ evn.evnOrganizerPage }}" target="_blank">{{
            evn.evnOrganizerPage
          }}</a>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </body> -->

  <!-- -------------------------------------------------- Events Page Type Zero HTML Ends ----------------------------------------------------- -->
  <!-- -------------------------------------------------- Events Page Type One HTML Below ---------------------------------------------------------- -->
  <!-- <div class="background">
    <body *ngIf="!showSpinner">
      <div class="cont">
        <div class="card_try" *ngFor="let evn of eventService.events">
          <div class="imgBx">
            <img src="./../../../../assets/images/image3.jpg" alt="Image">
          </div>
          <div class="contentBx">
            <div class="content">
              <h2>{{ evn.evnName }}</h2>
              <p>{{ evn.evnDescription }}</p>
              <form #f="ngForm">
                <button (click)="sendDetails(f, evn._id)">Read More</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </body>
  </div> -->

  <!-- ---------------------------------------------- Events Page Type One HTML Ends ---------------------------------------------------- -->
  <!-- -------------------------------------------- Events Page Type Two HTML Below ------------------------------------------------------ -->

  <body>
    <div class="cont">
      <div class="box" *ngFor="let evn of eventService.events">
        <div class="imgBx">
          <img src="./../../../../assets/images/image1.jpg" alt="">
        </div>
        <div class="content">
          <h3>{{ evn.evnName }}</h3>
          <p>{{ evn.evnDescription }}</p>
        </div>
      </div>
      <!-- <div class="box">
        <div class="imgBx">
          <img src="./../../../../assets/images/image2.jpg" alt="">
        </div>
        <div class="content">
          <h3>Post Title Two</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ducimus eaque veniam similique harum quod
            ipsam perspiciatis praesentium cum ullam? Itaque maxime doloribus ea iusto natus laborum nulla fugit
            quaerat?</p>
        </div>
      </div>
      <div class="box">
        <div class="imgBx">
          <img src="./../../../../assets/images/image3.jpg" alt="">
        </div>
        <div class="content">
          <h3>Post Title Three</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ducimus eaque veniam similique harum quod
            ipsam perspiciatis praesentium cum ullam? Itaque maxime doloribus ea iusto natus laborum nulla fugit
            quaerat?</p>
        </div>
      </div> -->
    </div>
  </body>