<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

<app-main-nav>

  <body>
    <div class="reqMargin"></div>
    <div class="box1">
      <button data-toggle="modal" data-target="#exampleModal1">
        Add a new achievement
      </button>
    </div>
    <!--  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet" />

    <div class="container" style="color: yellow;display: flex;justify-content: center;">
      <div class="row">
        <div class="col-md-6 col-xl-4" *ngFor="let ach of ach_list">
          <mat-card class="CARD" data-toggle="modal" data-target="#myModal1" (click)="DoIt(ach._id)">
            <div class="rank" *ngIf="ach.achRank=='State'"
              style="background-color: lawngreen; color: black; border-radius: 10px;">
              {{ach.achRank}}
            </div>
            <div class="rank" *ngIf="ach.achRank=='City'"
              style="background-color: red; color: black; border-radius: 10px;">
              {{ach.achRank}}
            </div>
            <div class="rank" *ngIf="ach.achRank=='School'"
              style="background-color: yellow; color: black;border-radius: 10px;">
              {{ach.achRank}}
            </div>
            <div class="rank" *ngIf="ach.achRank=='National'"
              style="background-color: orange; color: black;border-radius: 10px;">
              {{ach.achRank}}
            </div>
            <div class="rank" *ngIf="ach.achRank=='International'"
              style="background-color: black; font-size:0.5em;color: white;border-radius: 10px;">
              {{ach.achRank}}
            </div>
            <br>
            <br>
            <mat-card-content style="font-weight:400;word-break: break-word;">
              {{ach.Name}}
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </body>
</app-main-nav>
<div class="newsItem" *ngFor="let ach of this.ach_list">
  <div class="modal" id="myModal1" *ngFor="let ach of this.ach_list">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body"
        style="background: #fff;max-height: 100vh;max-width: 100vw;" >
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="row">
            <img src="https://backend-athena.herokuapp.com/{{img}}" alt="Avatar" id="achImg" style="max-height: 80%;max-width: 80%;margin-left: 10%; margin-top: 5%;">
          </div>
          <br>
          <div class="row" style="">
            <p style="margin-left: 10%;word-break: break-word;margin-right: 10%;"> {{desc}}</p>
          </div>
         <br>
         <br>
          <button class="btn btn-danger" style="margin-left: 40%;margin-bottom: 5%;" (click)="DeleteAch(ach._id)" aria-hidden="true"><i
              class="fa fa-trash fa-3x"></i></button>
        </div>

      </div>
    </div>
  </div>

</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Add new Achievement
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" id="frmUploader" enctype="multipart/form-data" action="/achievements" method="POST">
          <div class="form-group">
            <input type="text" required maxlength="35" class="form-control"
              [(ngModel)]="achService.selectedAchievements.name" name="name" id="name"
              placeholder="Enter Achievement Name" />
            <div class="col-xs-6">
              <label><strong>Category Name</strong></label>
              <ngx-select-dropdown required (change)="selectionChanged($event)"
                [(ngModel)]="achService.selectedAchievements.achCat" [config]="config" name="category"
                [options]="categoryOption"></ngx-select-dropdown>
            </div>
            <div class="col-xs-6">
              <label> Sub category Name </label>
              <ngx-select-dropdown required [(ngModel)]="achService.selectedAchievements.achSubCat" id="subCat"
                [config]="configSubCat" name="subCatName" [options]="subcatOptions"></ngx-select-dropdown>
            </div>
            <div class="col-xs-6">
              <label> Rank </label>
              <ngx-select-dropdown required [(ngModel)]="achService.selectedAchievements.rank" [config]="configRank"
                name="rank" id="rank" [options]="list"></ngx-select-dropdown>
            </div>
            <br />

            <input type="text" required maxlength="350" class="form-control"
              [(ngModel)]="achService.selectedAchievements.description" name="description" id="description"
              placeholder="Enter Description" />
            <br />
            <div class="custom-file mb-3">
              <input type="file" required class="custom-file-input" name="file" id="file1" [(ngModel)]="file"
                (change)="readSingleFile($event)" />
              <label class="custom-file-label" for="file1" id="file-label">Choose file</label>
            </div>
          </div>

          <button type="button" class="btn btn-success" (click)="onSubmit(f)" [disabled]="!f.valid" data-dismiss="modal"
            data-target="#exampleModal">
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
