.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 10px;

}
.card:hover{
  transform: scale(1.1);
}
.card{
  margin-left:35%;padding:12%;width:50%;position:absolute;bottom:3%;border-radius: 10px;text-decoration: none;
}
.card-2{
  background: #ffff3b;
  background-size: cover;
}
.card-1{
  background:#fcfcfc;
}
.search:hover{
transform: scale(1.1);
}

.card-3{
  background: #f0596a;
  background-size: cover;
}

.card-1, .card-3 {
  cursor: pointer;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.day{
  font-weight: 600;color: #fafafa;font-size: 3.5em;text-align: left;
}

@media screen and (max-width:1023px){
.card-1,.card-2{
  height: 100%;
  width: 100%;
}
.day{
  font-size: 2em;
}
}
@media screen and (max-width:767px){
  .card-1,.card-2{
    height: 100%;
    width: 150%;
  }
}

