<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color: #ecdac7;">

    <div class="container">
        <h1 style="text-align: center;">Discover Something New</h1>
        <!-- Events searching below -->
        <div class="events">
            <h3>Search For New Events </h3>
            <br>
            <form #f="ngForm">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">What do you want to search for?</span>
                    </div>
                    <input type="text" placeholder="Search" class="form-control" required name="keyword" ngModel
                        #keyword="ngModel" [(ngModel)]="data.selSearch.keyword">
                </div>
                <!-- <div class="form-group">
                    <label class="control-label">Enter 1 for regular search, 2 for deep search or 3 for archive
                        search</label>
                    <div>
                        <input type="number" min="1" max="3" placeholder="Choice" class="form-control" required
                            name="usecase" ngModel #usecase="ngModel" [(ngModel)]="data.selSearch.usecase">
                        <span class="help-block" *ngIf="!usecase.valid && usecase.touched">Please enter a use
                            case</span>
                    </div>
                </div> -->
                    <input type="radio" name="search" value="1" id="1">
                    <label for="1">Regular Search</label>
                    <br>
                    <input type="radio" name="search" value="2" id="2">
                    <label for="2">Deep Search</label>
                    <br>
                    <input type="radio" name="search" value="3" id="3">
                    <label for="3">Archive Search</label>
                <br>
                <button class="btn btn-primary" [disabled]="!f.valid" (click)="onSubmit(f)">Submit Query</button>
            </form>
        </div>
        <hr>
        <hr>
        <!-- User Searching Below -->
        <div class="users">
            <h3>Search For People You May Know</h3>
            <br>
            <form #g="ngForm">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Who do you want to search for?</span>
                    </div>
                    <input type="text" placeholder="Search" class="form-control" required name="userKey" ngModel
                        #userKey="ngModel" [(ngModel)]="data.selSearch1.userKey">
                    <span class="help-block" *ngIf="!userKey.valid && userKey.touched">Enter a search value</span>
                </div>
                <br>
                <!-- <div class="form-group">
                    <label class="control-label">Enter 1 for regular search, 2 for deep search or 3 for archive
                        search</label>
                    <div>
                        <input type="number" min="1" max="3" placeholder="Choice" class="form-control" required
                            name="userUseCase" ngModel #userUseCase="ngModel" [(ngModel)]="data.selSearch1.userUseCase">
                        <span class="help-block" *ngIf="!userUseCase.valid && userUseCase.touched">Please enter a use
                            case</span>
                    </div>
                </div> -->
                <button class="btn btn-primary" [disabled]='!g.valid' (click)="onSubmit1(g)">Submit Query</button>
            </form>
        </div>
    </div>
    <div class="area" *ngIf="isOrg"></div><nav class="main-menu" *ngIf="isOrg" >

        <ul >
          <li class="has-subnav">
            <a data-toggle="modal" data-target="#exampleModal" [routerLink]="['/']" onclick="return false;">
              <img [src]="imageToShow" *ngIf="profileUrlExists" style="border-radius: 60%; width: 100%; height: 100%; margin-left: 0;">
              <button id="dp" *ngIf="!profileUrlExists" data-toggle="modal" data-target="#exampleModal"></button>
                <span class="nav-text" style="padding-left: 10px;">
                    {{username}}
                </span>
            </a>
            </li>

  <br/>
  <br/>
            <li >
                <a [routerLink]="['/organizerdashboard']">
                    <i class="fa fa-home fa-2x" style="margin-top: 50%; margin-bottom: 50%;"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>

            </li>

            <li class="has-subnav">
                <a [routerLink]="['/eventsorg']">
                  <i class="fa fa-calendar"   aria-hidden="true"></i>
                    <span class="nav-text">
                        Events
                    </span>
                </a>

            </li>

            <li>
                <a [routerLink]="['/discover']">
                  <i class="fa fa-search"  aria-hidden="true"></i>
                    <span class="nav-text">
                       Discover
                    </span>
                </a>
            </li>
        </ul>




        <ul class="logout">
            <li>
               <a [routerLink]="['/login']" class="nav-item nav-link"     >
                     <i class="fa fa-power-off fa-2x" ></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>

    <div class="area" *ngIf="isStudent"></div><nav class="main-menu" *ngIf="isStudent">

      <ul >


    <li class="has-subnav">
    <a data-toggle="modal" data-target="#exampleModal" [routerLink]="['/']" onclick="return false;">
      <img [src]="imageToShow" *ngIf="profileUrlExists" style="border-radius: 60%; width: 100%; height: 100%; margin-left: 0;">
      <button id="dp" *ngIf="!profileUrlExists" data-toggle="modal" data-target="#exampleModal"></button>
        <span class="nav-text" style="padding-left: 10px;">
            {{username}}
        </span>
    </a>
    </li>
    <br/>
    <br/>
          <li >
              <a [routerLink]="['/dashboard']">
                  <i class="fa fa-home fa-2x" style="margin-top: 50%; margin-bottom: 50%;"></i>
                  <span class="nav-text">
                      Dashboard
                  </span>
              </a>

          </li>
          <li class="has-subnav">
              <a [routerLink]="['/achievements']">
                <i class="fa fa-trophy"  aria-hidden="true"></i>
                  <span class="nav-text">
                     Achievements
                  </span>
              </a>

          </li>

          <li class="has-subnav">
              <a [routerLink]="['/events']">
                <i class="fa fa-calendar"   aria-hidden="true"></i>
                  <span class="nav-text">
                      Events
                  </span>
              </a>

          </li>

          <li class="has-subnav">
              <a [routerLink]="['/interests']">
                <i class="fa fa-plus"  aria-hidden="true"></i>
                  <span class="nav-text">
                     Add Interests
                  </span>
              </a>

          </li>

          <li>

              <a [routerLink]="['/userprofile']">
                <i class="fa fa-user"  aria-hidden="true"></i>
                  <span class="nav-text">
                      User Profile
                  </span>
              </a>
          </li>
          <li>
              <a [routerLink]="['/discover']">
                <i class="fa fa-search"  aria-hidden="true"></i>
                  <span class="nav-text">
                     Discover
                  </span>
              </a>
          </li>
      </ul>




      <ul class="logout">
          <li>
             <a [routerLink]="['/login']" class="nav-item nav-link"     >
                   <i class="fa fa-power-off fa-2x" ></i>
                  <span class="nav-text">
                      Logout
                  </span>
              </a>
          </li>
      </ul>
    </nav>
    </body>
