@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.fa-2x {
  font-size: 2em;
}

.fa.fa-tag {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: red;
}

.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;

}

.side {
  height: 100vh;
  width: 30vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #fef1e5;
  /* overflow-x: hidden; */
  padding-top: 2vw;
}


.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: visible;
}

.main-menu {
  background: #fff;
  border-right: 1px solid #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 60px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  z-index: 1000;
  background-size: 100%;

}

.main-menu>ul {
  margin: 7px 0;
}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;
}

.main-menu li>a {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #999;
  font-family: arial;
  font-size: 14px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;

}

.main-menu .nav-icon {
  position: relative;

  display: table-cell;
  widows: 90px;
  height: 54px;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
}

.main-menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;

}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,
a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

mat-card {
  max-width: 50%;
  max-height: 50%;
  background-color: #f2f2f7;

  margin-left: 20%;
  margin-bottom: 10%;
  border-radius: 10px;
}

.main-menu li:hover>a,
nav.main-menu li.active>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #333;
}

.area {
  float: left;
  width: 100%;
  height: 100%;
  background: #00000000;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.container {
  /* display: flex; */
}



.card {
  background: transparent;
}

.es {
  margin-left: 70%;
  margin-left: 70%;
}


.card-body-a:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-body-b:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card-body-c:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

body {
  background: #00000000;
  background-size: cover;
  background-position: center;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #e6e6e6;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: rgb(6, 8, 8);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-text-a {
  font-size: 2vw;
  color: white;
  white-space: nowrap;
  text-align: left;
}

#dp {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  background-image: url("https://www.w3schools.com/howto/img_avatar.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.card-123-a {
  background-image: linear-gradient(to right, #fc855c 0%, #f6699e 100%);
  border-radius: 10px;
  width: 25vw;
}

.card-124,
.card-126 {
  width: 25vw;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 10px;
}

.card-125-a {
  background-image: linear-gradient(to right, #3cd0c0 0%, #0d95cb 100%);
  border-radius: 10px;
  width: 25vw;
}

.card-124-a {
  background-image: linear-gradient(to right, #8f73ee 0%, #4e80c9 100%);
  border-radius: 10px;
  width: 25vw;
}

.card-123-text {
  margin-left: 20%;
}

.card-126-a {
  background: #FDC830;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F37335, #FDC830);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F37335, #FDC830);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  ;
  border-radius: 10px;
  width: 25vw;
}

.card-125 {
  width: 25vw;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 10px;
}

.c1 {
  margin-left: 1%;
  display: flex;
  background-color: #00000000;
}

.c2 {
  margin-left: 5%;
  display: flex;
  background-color: #00000000;
}

.card-i {
  font-size: 225%;
  color: white;
  padding-left: 15vw;
}

.card-i1 {
  font-size: 225%;
  color: white;
  padding-left: 15vw;
}

.table {
  margin-left: 50%;
  text-align: center;
}

.card-123 {
  width: 25vw;
  position: relative;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.card-title {
  font-weight: 800;
  color: white;
  font-size: 5vw;
  margin-left: 3%;
  margin-top: 3%;
}

@media screen and (max-width:767px) {
  .card-text-a {
    text-align: left;
    font-size: 7vw;
    color: white;
    white-space: nowrap;
    margin-left: 0;
    border-radius: 5px;
  }
  .upcoming{
    font-size: 1.8em;
  }

  mat-card {
    max-height: 100%;
    max-width: 100%;
    margin-left: 10%;
  }

  .main-menu {
    width: 10vw;
  }

  .card-title {
    font-weight: 800;
    color: white;
    font-size: 3em;
    margin-left: 3%;
    margin-top: 3%;
  }

  .card-123-text {
    font-size: 2em;
    margin-left: 4%;
  }
 .upcomingC{
   max-height: 100%;
   max-width: 100%;
   margin-left: -1%;
 }

  .card-i {
    padding-left: 55vw;
  }

  .card-i1 {
    padding-left: 55vw;
  }

  .card-124-a {
    width: 80vw;
  }

  .card-125-a {
    width: 80vw;
  }


  .card-126-a {
    width: 80vw;
  }

  .card-123-a {
    width: 80vw;
  }

  .card-123 {
    margin-left: 10%;
  }



  .c1 {
    display: block;
    margin: 0;
    padding: 0;

  }

  .c2 {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: -10%;
  }

  .upcoming {
    font-size: 1.5em;
    white-space: nowrap;
  }

}
