
<app-main-nav>
  <html style="background-color: #00000000;">
  <div class="container" style="background-color: #00000000;">

    <body>
      <br />
      <div class="container c2" style="">
        <div class="card text card-123">
          <a class="card-body-a card-123-a" >
            <h5 class="card-title">1</h5>
            <p class="card-text-a card-122-text">Manage Your Events<br /></p>
          </a>
        </div>
        <div class="card text card-124">
          <a class="card-body-b card-124-a" >
            <h5 class="card-title">1</h5>
            <p class="card-text-a card-123-text">Add an Event <br />
            </p>
          </a>
        </div>
        <br />
        <br />
      </div>
      <div class="container c1">
        <div class="card text card-125">
          <a class="card-body-c card-125-a" >
            <h5 class="card-title">1</h5>
            <p class="card-text-a card-123-text">Add an Event<br />
            </p>
          </a>
        </div>
        <div class="card text card-124">
          <a class="card-body-c card-126-a">
            <h5 class="card-title">1</h5>
            <p class="card-text-a card-123-text" style="">Discover <br /> </p>
          </a>
        </div>
      </div>
      <mat-card class="upcomingC" style="margin-top: 20%; box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,.699);">
        <mat-card-content>
          <h2 class="upcoming" style="font-weight: 100;margin-bottom: 10%;">Your Upcoming Events</h2>
          <div class="container" *ngFor="let evn of myEvents" style="margin-top:10%;">
            <h4>{{evn.evnName}}</h4>
            <h5>{{evn.evnDate1}}</h5>
            <a target="_blank" class="link" style="color: blue;font-size: 2em;" href="https://{{evn.evnOrganizerPage}}">{{evn.evnOrganizerPage}}</a>
          </div>
        </mat-card-content>
      </mat-card>
    </body>
  </div>

  </html>
</app-main-nav>
