@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.achdetails{
  max-width: 60vw; margin-top: 30%;margin-left: 25%;
}
.achdetailsB{
  text-align: center; font-weight: 50; color: gray;white-space: pre-line; max-width: 100%;
}

.container{
  margin-left: -2%;
}

mat-card-title{
  text-align: center;
  font-weight: 100;
}
row{
  margin-left: -25%;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.CARD{
  width: 14rem;
  height: 12rem;
  margin-left: 10%;
  text-align: center;
  border-radius: 10px;
  background:  #f2f2f7 ;
  box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94,104,121,.288);
  border:none;
  margin-bottom: 10%;
}
.CARD:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.cr{
  margin-left: -25%;
  display: flex;
}

.rank{
  max-width: 25%;
  font-size:0.6rem;
  text-align: center;
  transform: rotate(-25deg);
  margin-top: 6.5%;
  margin-left: -5%;

}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


.subcat{
  text-align: center;font-size: 2vw;padding-bottom:10vw;
}
/* */

.box1 {
  border-radius: 10px;
  position: relative;
  z-index: 1;
  background: rgba(255, 255, 255, 0.6);
  max-width: 450px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  top: 0;
  left: 0;
}
html { height: 100% }

body {
  background-color:  #00000000;
  border: 1px solid transparent;
  padding-bottom: 20px;
  height:120vw;
  background-size: 100%;
  background-position: center;
}


.reqMargin {
  width: 400px;
  padding: 10% 0 0;
  margin: auto;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
[hidden] {
  display: none !important;
}
.box1 button{
  margin: 15 px 0 0;
display: inline-block;
text-decoration: none;
font-weight: 900;
color:#333;
padding: 5px;
border: 1px solid;
border-radius: 10px;
}

.box1 button:hover{
  background: #000428;
  color: aliceblue;
  }




.spinning {
  margin-left: 50%;
  margin-top: 20%;
}


/* .row {
  margin-top: 30px;
} */

.card:hover{
  transform: scale(1.1);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

img{
  float: left;
  max-width: 100%;

}


.image img {
  float: left;
  width:100%;
  height:auto;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2;
  padding-top: 4px;
  padding-bottom: 4px;
  color: black;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.4rem;
  line-height: 1.2;
  padding-top: 5px;
  margin-bottom: 5px;
  color: #cfcfcf;
}


a:hover, a:focus {text-decoration:none;}

a:hover .summary p, a:focus .summary p {
  color: #333;
}
@media screen and(max-width:576 px){
  .achdetails{
    margin-left: 75%;
  }

}


@media  screen and (min-width:1920px){
.CARD{
  margin-left: 20vw;
}
.col-xl-4{
  width: 100%;
  position: inherit;
}
}
