/* -------------------------------------------------------- Type Zero CSS Below --------------------------------------------------------- */

/*
.tl {
  width: 100%;
  height: 50%;
}

body {
  background-color:  #11ABC1;
  height: 170vh;
  background-size: cover;
  background-position: center;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #e6e6e6;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: rgb(6, 8, 8);
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #e6e6e6;
  background: #e6e6e6;
  text-align: center;
  color:  #000;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-accordion,
mat-expansion-panel {
  margin-bottom: 25px;
} */
/* ----------------------------------------------------------- Type One CSS Ends --------------------------------------------------------- */

/* ----------------------------------------------------------- Type One CSS Below -------------------------------------------------------- */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #43cea2, #185a9d);
}

.cont {
  position: relative;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cont .card_try {
  position: relative;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 100px 0;
}

.cont .card_try:nth-child(odd) {
  flex-direction: row;
}

.cont .card_try:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.cont .card_try:nth-child(even) .imgBx {
  left: -25px;
}

.cont .card_try .imgBx {
  position: relative;
  left: 25px;
  width: 500px;
  height: 400px;
  z-index: 1;
}

.cont .card_try .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cont .card_try .contentBx {
  position: relative;
  right: 25px;
  width: 500px;
  height: 400px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:20px 60px 20px 100px;
}

.cont .card_try .contentBx:before {
  content: '';
  position: absolute;
  top: -50px;
  bottom: -50px;
  left: 0;
  right: 0;
  background: #fff;
  z-index: -1;
}

.cont .card_try:nth-child(even) .contentBx {
  right: -25px;
  padding:20px 100px 20px 60px;
}

.cont .card_try .contentBx h2 {
  font-size: 30px;
  color:  #000;
}

.cont .card_try .contentBx p {
  margin-top: 10px;
  color:  #000;
}

.cont .card_try .contentBx button {
  display: inline-block;
  margin-top: 15px;
  color:  #000;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #000;
}

@media (max-width: 1000px) {
  .cont .card_try {
    flex-direction: column;
    max-width: 350px;
    margin: 25px 25px;
  }

  .cont .card_try .imgBx {
    width: 100%;
    height: 250px;
    left: 0;
  }

  .cont .card_try .contentBx {
    width: 1005;
    height: auto;
    right: 0;
    padding: 30px;
    text-align: center;
  }

  .cont .card_try .contentBx:before {
    top: 0;
    bottom: 0;
  }

  .cont .card_try:nth-child(even) .imgBx {
    left: 0;
  }

  .cont .card_try:nth-child(even) .contentBx {
    right: 0;
    padding: 30px;
  }
} */

/* ---------------------------------------------------- Type One CSS Ends ---------------------------------------------------------------- */
/* --------------------------------------------------- Type Two CSS Below ---------------------------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;

}

.main-menu {
  background:#030409;
  border-right:1px solid #030409  ;
position: absolute;
top:0;
bottom:0;
height:138rem;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
background-size: 100%;

}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;

display:table-cell;
widows: 90px;
height:54px;
text-align:center;
vertical-align:middle;
font-size:50px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
  font-size: large;

}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}


nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#333;
}
.area {
float: left;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.cont  {
  max-width: 1000px;
  display: flex;
  margin: 50px 0;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 15px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0,0,0,0.5);
}

.box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}

 .box:hover .imgBx img {
   opacity: 0;
 }

 .box .content {
   position: absolute;
   bottom: 20px;
   left: 10%;
   width: 80%;
   height: 60px;
   background: #fff;
   transition: 0.5s;
   overflow: hidden;

   padding: 15px;
   box-sizing: border-box;
 }

 .box:hover .content {
   width: 100%;
   height: 100%;
   bottom: 0;
   left: 0;
 }

 .box .content h3 {
   margin: 0;
   padding: 0;
   font-size: 20px;
 }

 .box .content p {
   margin: 10px 0 0;
   padding: 0;
   opacity: 0;
   line-height: 1.2em;
   transition: 0.5s;
   text-align: justify;
 }

 .box:hover .content p {
   opacity: 1;
   transition-delay: 0.5s;
 }

 .cont .content button {
margin-top: 15px;
display: inline-block;
text-decoration: none;
font-weight: 900;
color:#333;
padding: 10px;
border: 1px solid #333;
border-radius: 10px;
 }

.cont .content button:hover{
  background: #333;
  color: aliceblue;

  }
