<app-loading *ngIf="showLoading"></app-loading>
<app-main-nav *ngIf="!showLoading">
  <html style="background-color: #00000000;">
  <!-- <app-sidenav></app-sidenav> -->
  <div class="container" style="background-color: #00000000;">

    <body>
      <br />
      <div class="container c2" style="">
        <div class="card text card-123">
          <a class="card-body-a card-123-a" [routerLink]="['/achievements']">
            <h5 class="card-title">{{ach_list.length}}</h5>
            <p class="card-text-a card-123-text">Achievements<br /><i class="fa fa-trophy card-i1"
                aria-hidden="true"></i></p>
          </a>
        </div>
        <div class="card text card-124">
          <a class="card-body-b card-124-a" [routerLink]="['/interests']">
            <h5 class="card-title">{{interestlist.length}}</h5>
            <p class="card-text-a card-123-text">Interests <br /><i class="fa fa-plus card-i1" aria-hidden="true"></i>
            </p>
          </a>
        </div>
        <br />
        <br />
      </div>
      <div class="container c1">
        <div class="card text card-125">
          <a class="card-body-c card-125-a" [routerLink]="['/events']">
            <h5 class="card-title">{{evn_list.length}}</h5>
            <p class="card-text-a card-123-text">Events<br /><i class="fa fa-calendar card-i1" aria-hidden="true"></i>
            </p>
          </a>
        </div>
        <div class="card text card-124">
          <a class="card-body-c card-126-a" [routerLink]="['/academics']">
            <h5 class="card-title">{{acadlist.length}}</h5>
            <p class="card-text-a card-123-text" style="">Academics <br /> <i class="fa fa-book card-i1"
                aria-hidden="true"></i> </p>
          </a>
        </div>
      </div>
      <mat-card class="upcomingC" style="margin-top: 20%; box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94,104,121,.699);">
        <mat-card-content>
          <h2 class="upcoming" style="font-weight: 100;margin-bottom: 10%;">Your Upcoming Events</h2>
          <div class="container" *ngFor="let evn of upcoming" style="margin-top:10%;">
            <h4>{{evn.evnName}}</h4>
            <h5>{{day[mydate.getDay()]}}</h5>
            <h5>{{evn.Date}}</h5>
            <a target="_blank" class="link" style="color: blue;font-size: 2em;" href="https://{{evn.evnOrganizerPage}}">{{evn.evnOrganizerPage}}</a>
          </div>
        </mat-card-content>
      </mat-card>
    </body>
  </div>

  </html>
</app-main-nav>
