.rm{
    background-color: ##ffffff ;
    box-shadow: -3px -3px 7px #ffffff, 3px 3px 5px rgba(94,104,121,.288);
  }

  body{
      background:#00000000;
  }

  .container {
      text-align: center;
  }