<body>
  <div class="container">
    <header>
      <img src="../../../assets/images/logo.svg" alt="The Slayer of Souls" class="logo" />

      <nav>
        <a href="#" class="hide-desktop">
          <img src="../../../assets/images/ham.svg" alt="Mobile First " class="Menu" id="Menu" />
        </a>

        <ul class="show-dekstop hide-mobil" id="nav">
          <li id="exit" class="exit-btn hide-desktop">
            <img src="../../../assets/images/exit.svg" alt="exit Menu" />
          </li>
          <div class="navitem">
            <li><a href="#">Home</a></li>
          </div>
          <div class="navitem">
            <li><a href="#">Services</a></li>
          </div>
          <div class="navitem">
            <li><a href="#">About</a></li>
          </div>
          <div class="navitem">
            <li><a href="#">Contact</a></li>
          </div>
        </ul>
      </nav>
    </header>

    <section>
      <img src="../../../assets/images/server.svg" alt="server graphic" class="server" />
      <h1>Athena</h1>
      <p class="subhead">Student LinkedIn. A fourm to showcase your talent</p>

      <img src="../../../assets/images/scroll.svg" alt="scroll" class="scroll show-desktop" />
    </section>
  </div>

  <div class="blue-container">
    <div class="container">
      <ul>
        <li>
          <img src="../../../assets/images/icon-1.svg" alt="Calender Icon" />
          <p>*Content to be filled*</p>
        </li>
        <li>
          <img src="../../../assets/images/icon-2.svg" alt="Calender Icon" />
          <p>*Content to be filled*</p>
        </li>
        <li>
          <img src="../../../assets/images/icon-3.svg" alt="Calender Icon" />
          <p>*Content to be filled*</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="grey-container">
    <div class="container">
      <ul>
        <li>
          <figure>
            <img src="../../../assets/images/user1.png" alt="Testimonial 1" />
            <blockquote>*Content to be filled*</blockquote>
            <figcaption>- Zacian</figcaption>
          </figure>
        </li>
        <li>
          <figure>
            <img src="../../../assets/images/user2.png" alt="Testimonial 2" />
            <blockquote>*Content to be filled*</blockquote>
            <figcaption>- Zamazenta</figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>

  <div class="container">
    <h2>Create your Account Today!</h2>
    <a href="#" class="cta">Get Started</a>
  </div>

  <footer>
    <div class="footer-container">
      <div class="container">
        <a href="#">
          <img src="../../../assets/images/logo-white.svg" class="logo" alt="logo" />
        </a>
        <p class="address">
          Sri Kumarans Childrens Home, Bengaluru-560073 <br />Karnataka, India
        </p>
        <ul class="footer-links">
          <li><a href="#">Terms of Services</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>