<!-- <body>
    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                Athena
            </span>
        </div>
    </div>

    <section class="section section-light">
        <h2>Start Using Now</h2>
        <a routerLink="login" style="text-decoration: none;"><button class="btn btn-outline-dark btn-lg btn-block">Login</button></a>
        <a routerLink="commonsignup" style="text-decoration: none;"><button class="btn btn-outline-dark btn-lg btn-block">Signup</button></a>
    </section>

    <div class="pimg2">
        <div class="ptext">
            <span class="border trans">
                dummy text to be filled in later
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>Testimonials</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia autem vero ducimus! Adipisci dolores
            exercitationem tenetur et iure sapiente dolor sequi. Nam, reiciendis maiores. Temporibus, beatae nobis eius
            suscipit ullam quia ex esse est. Corrupti placeat, minus corporis tenetur, dolor quas commodi itaque
            sapiente
            optio maxime nobis saepe impedit minima nam ratione, consequatur voluptate soluta temporibus. Non esse
            doloremque, veniam perspiciatis, quis reprehenderit aliquid, qui sint ex fuga doloribus modi facere magni
            excepturi adipisci ipsam. </p>
    </section>

    <div class="pimg3">
        <div class="ptext">
            <span class="border trans">
                Some more dummy text
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>Contact Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia autem vero ducimus! Adipisci dolores
            exercitationem tenetur et iure sapiente dolor sequi. Nam, reiciendis maiores. Temporibus, beatae nobis eius
            suscipit ullam quia ex esse est. Corrupti placeat, minus corporis tenetur, dolor quas commodi itaque
            sapiente
            optio maxime nobis saepe impedit minima nam ratione, consequatur voluptate soluta temporibus. Non esse
            doloremque, veniam perspiciatis, quis reprehenderit aliquid, qui sint ex fuga doloribus modi facere magni
            excepturi adipisci ipsam. </p>
    </section>

    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                new here or existing user?
            </span>
        </div>
    </div>

    <section class="section section-light">
        <h2>Dummy text</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia autem vero ducimus! Adipisci dolores
            exercitationem tenetur et iure sapiente dolor sequi. Nam, reiciendis maiores. Temporibus, beatae nobis eius
            suscipit ullam quia ex esse est. Corrupti placeat, minus corporis tenetur, dolor quas commodi itaque
            sapiente
            optio maxime nobis saepe impedit minima nam ratione, consequatur voluptate soluta temporibus. Non esse
            doloremque, veniam perspiciatis, quis reprehenderit aliquid, qui sint ex fuga doloribus modi facere magni
            excepturi adipisci ipsam. </p>
    </section>
</body> -->


<!-- ---------------------------------------Lines under this are currently under development----------------------------------------------------------------- -->

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- Header -->
    <section id="header">
        <div class="container">
        <nav class="navbar navbar-light">
            <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" style="color: white;">Athena</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link smoothScroll" href="#services">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#features">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Testimonials</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    </section>

    <!-- ------------------------------------------------Welcome text--------------------------------------------------------------------- -->

    <section id="welcome">
        <div class="container">
            <div class="welcome text-center">
                <h1>Create website with animations</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque vero rem excepturi aliquam, quisquam
                    sit ex, molestias, dolore odit repellendus vitae maxime! Optio, iure aliquam.</p>
                <button type="submit" class="btn home-btn">Subscribe</button>
            </div>
        </div>
    </section>

    <!-- --------------------------------------------------------------About Us------------------------------------------------------------- -->

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="./../../../assets/images/newiimg2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 text-justify">
                    <h3>Knowledge, Skills & Hard Word</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, excepturi earum nihil iste vitae
                        velit sint commodi inventore ipsum esse eum expedita culpa deserunt porro? Velit debitis
                        sapiente quibusdam fugiat repellat in eum nulla voluptatem tenetur nemo soluta, hic dolore
                        aspernatur vel maiores aliquam iure nostrum. Labore impedit sequi beatae?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, excepturi earum nihil iste vitae
                        velit sint commodi inventore ipsum esse eum expedita culpa deserunt porro? Velit debitis
                        sapiente quibusdam fugiat repellat in eum nulla voluptatem tenetur nemo soluta, hic dolore
                        aspernatur vel maiores aliquam iure nostrum. Labore impedit sequi beatae?</p>
                </div>
                <div class="col-md-6 text-justify">
                    <h3>Work Hard In Silence</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, excepturi earum nihil iste vitae
                        velit sint commodi inventore ipsum esse eum expedita culpa deserunt porro? Velit debitis
                        sapiente quibusdam fugiat repellat in eum nulla voluptatem tenetur nemo soluta, hic dolore
                        aspernatur vel maiores aliquam iure nostrum. Labore impedit sequi beatae?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, excepturi earum nihil iste vitae
                        velit sint commodi inventore ipsum esse eum expedita culpa deserunt porro? Velit debitis
                        sapiente quibusdam fugiat repellat in eum nulla voluptatem tenetur nemo soluta, hic dolore
                        aspernatur vel maiores aliquam iure nostrum. Labore impedit sequi beatae?</p>
                </div>
                <div class="col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="560" height="315"
                            src="https://www.youtube.com/embed/kopoLzvh5jY" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- --------------------------------------------------------Services---------------------------------------------------- -->

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
                    <h4>Lorem, ipsum.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet mollitia, quod facilis iure
                        reiciendis nesciunt omnis consequatur dolore atque nihil eos culpa commodi ad natus!</p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-camera-retro fa-4x" aria-hidden="true"></i>
                    <h4>Lorem, ipsum.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure beatae perspiciatis dolorum
                        doloribus aliquam iusto officiis nihil accusantium. Autem cumque reprehenderit architecto, nam
                        tempore sunt.</p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-rocket fa-3x"></i>
                    <h4>Lorem, ipsum.</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci laboriosam odio illo beatae,
                        nemo praesentium cum voluptatum alias laborum eligendi magni quia est? Optio, laboriosam. </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ----------------------------------------------------------Features---------------------------------------------------------- -->

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="./../../../assets/images/newimg3.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6">
                    <div class="feature-box">
                        <div class="feature-left">
                            <i class="fa fa-trophy"></i>
                        </div>
                        <div class="feature-right">
                            <h4>Dummy Text</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, maxime.</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-left">
                            <i class="fa fa-heartbeat"></i>
                        </div>
                        <div class="feature-right">
                            <h4>Dummy Text</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, maxime.</p>
                        </div>
                    </div>
                    <div class="feature-box">
                        <div class="feature-left">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="feature-right">
                            <h4>Dummy Text</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, maxime.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonials -->

    <section id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem voluptatibus
                        voluptates provident repellat, ipsa, perspiciatis error tenetur tempora eum quas sapiente ex
                        optio eligendi corrupti natus culpa sed rem? Dolorem.<br><i class="fa fa-twitter"></i>
                        <span>@username</span></p>
                        <img src="" alt="">
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </section>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="javascript/smoothscroll.js"></script> 
</body>