
<body>
  <div class="content">
<form #f="ngForm" (ngSubmit)="f.valid && onSubmit(f)">
    <div class="form-group">
        <div>
          <input
          style="background-color: black;
            text-shadow: 0 0 1.2px white;
            border-radius:10px"

            maxlength="32"
            class="form-control"
            type="email"
            placeholder="Username"
            required
            ngModel
            name="username"
            id="username"
            #username="ngModel"
          />
          <span
            style="color: red;
            text-shadow: 0 0 5px red;"   
            class="help-block"
            *ngIf="!username.valid && username.touched"
            >Enter a username</span>
        </div>
      </div>
    <div class="form-group">
        <div>
          <input
          style="background-color: black;
            text-shadow: 0 0 1.2px white;
            border-radius:10px"
            maxlength="32"
            class="form-control"
            type="password"
            placeholder="Password"
            required
            ngModel
            name="password"
            id="password"
            #password="ngModel"
          />
          <span
            style="color: red;
             text-shadow: 0 0 5px red;"   
            class="help-block"
            *ngIf="!password.valid && password.touched"
            >Enter a password</span
          >
        </div>
      </div>
      <div class="form-group">
          <div>
            <input
            style="background-color: black;
            text-shadow: 0 0 1.2px white;
            border-radius:10px"
            maxlength="32"
              maxlength="5000"
              class="form-control"
              type="text"
              placeholder="Key"
              required
              ngModel
              name="key"
              id="key"
              #key="ngModel"
            />
            <span
              style="color: red;
               text-shadow: 0 0 5px red;"
              class="help-block"
              *ngIf="!key.valid && key.touched"
              >Enter a KEY</span
            >
          </div>
        </div>
        <button
        style="background-color: black;
        border-radius: 10px;
        border-width: 2px;"
        class="btn btn-secondary"
        type="submit"
        [disabled]="!f.valid"
      >
        SUBMIT
      </button>
</form>
</div>
</body>