<div class="background">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <body>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <div class="navbar-collapse collapse justify-content-between">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">LOGO</a>
          </li>
          <!--->
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>---->
        </ul>

        <div class="navbar-nav">
          <a class="nav-item nav-link" href="#" routerLink="/events">Events</a>
          <a class="nav-item nav-link" href="#" routerLink="/achievements">Achievements</a>
          <a class="nav-item nav-link" [routerLink]="['/discover']" routerLinkActive="router-link-active" >Discover</a>
         
          <a class="nav-item nav-link" [routerLink]="['/signup2']" routerLinkActive="router-link-active">Add
            Interests</a>
          <a routerLink="/delete" class="nav-item nav-link">Settings</a>
          <a class="nav-item nav-link" [routerLink]="['/userprofile']" routerLinkActive="router-link-active">User Profile</a>
          <a class="nav-item nav-link"  routerLinkActive="router-link-active">
            <button class="btn btn-danger" (click)="logout()">Logout</button></a>
        </div>
      </div>
      <!-- Search functionality below -->
      <!-- <div class="wrap">
        <div class="search">
          <form #f="ngForm">
            <input maxlength="32" type="text" class="searchTerm" placeholder="What are you looking for?" required ngModel name="search" #search="ngModel" [(ngModel)]="datasharingService.selSearch.keyword" />
            <button type="submit" class="searchButton" [disabled]="!search.valid && search.touched" (click)="onSubmit(f)">
              <i class="fa fa-search"></i>
            </button>
            <p>Type of search:</p>
            <input type="radio" id="1" value="1" [(ngModel)]="datasharingService.selSearch.searchType">
            <label for="1">Normal search</label>
            <input type="radio" name="" id="2" value="2" [(ngModel)]="datasharingService.selSearch.searchType">
            <label for="2">Deep Search</label>
            <input type="radio" name="" id="3" value="3" [(ngModel)]="datasharingService.selSearch.searchType">
            <label for="3">Archive Search</label>
          </form>
        </div>
      </div> -->
    </nav>
    <button id="dp" data-toggle="modal" data-target="#exampleModal"></button>
    <h2 style="color: white;">Welcome, {{ username }}</h2>
    <h2 style="color: white;">IP Address: {{ ipAddress }}</h2>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Change Profile Photo
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input maxlength="32" type="file" id="displaypic" accept=".gif,.png,.jpeg,.jpg" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>