<app-loading *ngIf="showLoading"></app-loading>
<app-main-nav *ngIf="!showLoading">
  <html style="background-color: #f9fafe;">
  <!-- <app-sidenav></app-sidenav> -->
  <div class="container" style="background-color: #f9fafe;">
    <body>
      <br />
      <div class="container" style="margin-left: -5%; display: flex;background-color: #f9fafe;">
        <div class="card text "
          style="width: 25vw; position: relative;margin-left: 5%; margin-top: 5%;border-radius: 10px;">
          <a class="card-body-a" [routerLink]="['/achievements']"
            style="background-image: linear-gradient(to right, #fc855c 0%, #f6699e 100%); border-radius:10px; width:25vw;">
            <h5 class="card-title">{{ach_list.length}}</h5>
            <p class="card-text-a" style="margin-left: 20%;">Achievements <br /> <i class="fa fa-trophy"
                style="font-size: 225%; color:white; padding-left: 15vw;" aria-hidden="true"></i> </p>
          </a>
        </div>
        <div class="card text " style="width:25vw;margin-left: 10%; margin-top: 5%;border-radius: 10px;">
          <a class="card-body-b" [routerLink]="['/interests']"
            style="background-image: linear-gradient(to right, #8f73ee 0%, #4e80c9 100%); border-radius:10px;width: 25vw;">
            <h5 class="card-title">{{interestlist.length}}</h5>
            <p class="card-text-a" style="margin-left: 20%;">Interests <br /> <i class="fa fa-plus"
                style="font-size: 225%; color:white; padding-left: 15vw;" aria-hidden="true"></i> </p>
          </a>
        </div>
        <div class="card text" style="width:25vw;margin-left: 10%; margin-top: 5%;border-radius: 10px;">
          <a class="card-body-c" [routerLink]="['/events']"
            style="background-image: linear-gradient(to right, #3cd0c0 0%, #0d95cb 100%); border-radius:10px;width: 25vw;">
            <h5 class="card-title">{{evn_list.length}}</h5>
            <p class="card-text-a" style="margin-left: 20%;">Events <br /> <i class="fa fa-calendar"
                style="font-size: 225%; color:white; padding-left: 15vw;" aria-hidden="true"></i> </p>
          </a>
        </div>
        <br />
        <br />
      </div>
      <mat-card style="margin-top: 20%;">
        <mat-card-content >
          <h2  style="font-size: 100;margin-bottom: 10%;">Your Upcoming Events</h2>
          <div class="container" *ngFor="let evn of upcoming" style="margin-top:10%;">
          <h4>{{evn.evnName}}</h4>
          <h5>{{day[mydate.getDay()]}}</h5>
            <h5>{{evn.Date}}</h5>
            <a target="_blank" style="color: blue;" href="https://{{evn.evnOrganizerPage}}">{{evn.evnOrganizerPage}}</a>

          </div>
        </mat-card-content>
      </mat-card>
    </body>
  </div>

  </html>
</app-main-nav>
