<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<app-sidenav></app-sidenav>
<div class="side">
  <h1 style="color: black; font-weight: 100;margin-left: 15%;">Popular Events</h1>
  <div class="container" *ngFor="let evn of evn_list" style="margin-top: 2vw;">
  <img class="img-fluid card-img" src="http://localhost:3000/{{evn.Image}}" style="max-height: 12vw;width: 15vw;margin-left: 20%;object-fit: scale-down; background-color: #fff;">
  <div  style="width: 15vw;max-height:10vw;margin-left: 20%;background-color: #e8f8f4;border-radius: 7px;border-bottom: 10px solid #34c8dd80 ;">
    <div class="card-body">
      <div class="card-footer" style="font-size: 1rem;max-height: 5vw;">{{evn.evnName}}</div>
      <br/>
    </div>
  </div>
</div>
</div>


<body>

  <h2 style="color: black; font-weight:100;margin-left: -25%;">Welcome, {{ username }}</h2>
  <br/>
    <div class="container" style="display: flex;" >
    <div class="row">
      <div class="column" style="float: left;" *ngFor="let evn of evn_list; let i=index">
        <img class="card bg-light" *ngIf="i==0" src="http://localhost:3000/{{evn_list[i].Image}}"
          style="width: 13rem;height: 13rem;  margin-left: 20%; border-radius: 10px; position: relative;margin-bottom: 0;"
          [routerLink]="['/']" onclick="return false;" >
          <div class="card-header" *ngIf="i==0"
            style="border-radius:8px;text-align: center;position:relative; font-size: auto;height:5vw;margin-top:-5%;font-weight: 100;margin-left:20%;width: 13rem;color:#fff;background-color: #67d2e0;">
            {{evn_list[i].evnName}}</div>
          <a class="card-body" *ngIf="i==0">
          </a>
          <img class="card bg-light" *ngIf="i==1" src="http://localhost:3000/{{evn_list[i].Image}}"
          style="width: 13rem;height: 13rem;  margin-left: 40%; border-radius: 10px; position: relative;margin-bottom: 0;"
          [routerLink]="['/']" onclick="return false;" >
          <div class="card-header" *ngIf="i==1"
            style="border-radius:8px;text-align: center;position:relative; font-size: auto;height:5vw;margin-top:-5%;font-weight: 100;margin-left:40%;width: 13rem;color:#fff;background-color: #feb13a;">
            {{evn_list[i].evnName}}</div>
          <a class="card-body" *ngIf="i==1">
          </a>
          <img class="card bg-light" *ngIf="i==2" src="http://localhost:3000/{{evn_list[i].Image}}"
          style="width: 13rem;height: 13rem;  margin-left: 60%; border-radius: 10px; position: relative;margin-bottom: 0;"
          [routerLink]="['/']" onclick="return false;" >
          <div class="card-header" *ngIf="i==2"
            style="border-radius:8px;text-align: center;position:relative; font-size: auto;height:5vw;margin-top:-5%;font-weight: 100;margin-left:60%;width: 13rem;color:#fff;background-color: #e65b61;">
            {{evn_list[i].evnName}}</div>
          <a class="card-body" *ngIf="i==2">
          </a>

      </div>

</div>
</div>
<div class="container" style="margin-left: 15%;">
    <div class="card text "
      style="width: 25vw; position: relative;margin-left: 10%; margin-top: 5%;border-radius: 10px;background-image: linear-gradient(to right, #fc855c 0%, #f6699e 100%);">
      <a class="card-body-a" [routerLink]="['/achievements']"
        style="background-image: linear-gradient(to right, #fc855c 0%, #f6699e 100%); border-radius:10px;">
        <h5 class="card-title" >{{ach_list.length}}</h5>
        <p class="card-text-a" style="margin-left: 20%;">Achievements <br /> <i class="fa fa-trophy"
            style="font-size: 225%; color:white; padding-left: 15vw;" aria-hidden="true"></i> </p>
      </a>
    </div>
    <div class="card text "
      style="width:25vw;margin-left: 10%; margin-top: 5%;border-radius: 10px;background-image: linear-gradient(to right, #8f73ee 0%, #4e80c9 100%);">
      <a class="card-body-b" [routerLink]="['/interests']"
        style="background-image: linear-gradient(to right, #8f73ee 0%, #4e80c9 100%); border-radius:10px;">
        <h5 class="card-title">{{interestlist.length}}</h5>
        <p class="card-text-a" style="margin-left: 20%;">Interests <br /> <i class="fa fa-plus"
            style="font-size: 225%; color:white; padding-left: 15vw;" aria-hidden="true"></i> </p>
      </a>
    </div>
    <div class="card text"
      style="width:25vw;margin-left: 10%; margin-top: 5%;border-radius: 10px;background-image: linear-gradient(to right, #3cd0c0 0%, #0d95cb 100%);">
      <a class="card-body-c" (click)="changeTab()" [routerLink]="['/events']"
        style="background-image: linear-gradient(to right, #3cd0c0 0%, #0d95cb 100%); border-radius:10px;">
        <h5 class="card-title">{{evn_list.length}}</h5>
        <p class="card-text-a" style="margin-left: 20%;">Events <br /> <i class="fa fa-calendar"
            style="font-size: 225%; color:white; padding-left: 15vw;" aria-hidden="true"></i> </p>
      </a>
    </div>
    <br/>
    <br/>
  </div>

  <!-- <img [src]="imageToShow"> -->
  <p></p>


</body>
