<body style="background-color: #fff;
 height: 130vh;">
  <app-navbar></app-navbar>
  <br />
  <br />
  <br />
  <div class="container">
    <mat-card style="background: #fff;">
      <!-- Card header -->
      <mat-card-header>
        <h1>Organiser Signup</h1>
      </mat-card-header>
      <!-- Card header ends -->
      <!-- Stepper Form Starts -->
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <ng-template matStepLabel>Enter main details</ng-template>
          <form #a="ngForm">
            <mat-form-field>
              <input maxlength="32" matInput type="text" placeholder="School Name" required ngModel name="OrganizerName"
                #OrganizerName="ngModel" [(ngModel)]="organizeruserService.selectedUser.OrganizerName" />
              <mat-error class="help-block">Please enter School Name</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" matInput type="email" placeholder="Email" required ngModel name="OrganizerEmail"
                email #OrganizerEmail="ngModel" [(ngModel)]="organizeruserService.selectedUser.OrganizerEmail" />
              <mat-error class="help-block">Please enter a valid email</mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" matInput type="password" placeholder="Password" required id="password" minlength="8"
                ngModel pattern=".{8,}" name="Password" #Password="ngModel"
                [(ngModel)]="organizeruserService.selectedUser.Password" />
              <mat-error class="help-block">Please enter a valid password which is atleast 8 characters
                long
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input maxlength="32" matInput type="password" placeholder="Confirm Password" required
                id="confirm_password" minlength="8" ngModel name="cPassword" #cPassword="ngModel"
                pattern="{{ Password.value }}" />
              <mat-error class="help-block" *ngIf="!cPassword.valid && cPassword.touched">Passwords Do Not Match
              </mat-error>
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" matInput type="text" placeholder="Phone Number" pattern="[789][0-9]{9}" required
                ngModel name="PhoneNo" #PhoneNo="ngModel" [(ngModel)]="organizeruserService.selectedUser.PhoneNo" />
              <mat-error class="help-block">Please enter Valid Phone Number
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="text" maxlength="32" placeholder="City" matInput required ngModel name="orgCity"
                [(ngModel)]="organizeruserService.selectedUser.orgCity" [matAutocomplete]="auto"
                [formControl]="myControl" />
              <mat-error class="help-block">Please enter Your City</mat-error>
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                  {{ option }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
          <div>
            <br>
            <button mat-button class="rm" matStepperNext [disabled]="!a.valid">
              Next
            </button>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <ng-template matStepLabel>Confirm your Details</ng-template>
          <form #b="ngForm" (ngSubmit)="b.valid && onSubmit(b)">
            <mat-form-field>
              <input maxlength="32" readonly matInput type="text" placeholder="School Name" required ngModel
                name="OrganizerName" #OrganizerName="ngModel"
                [(ngModel)]="organizeruserService.selectedUser.OrganizerName" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" matInput readonly type="email" placeholder="Email" required ngModel
                name="OrganizerEmail" email #OrganizerEmail="ngModel"
                [(ngModel)]="organizeruserService.selectedUser.OrganizerEmail" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" readonly matInput readonly type="password" placeholder="Password" required
                id="password" minlength="8" ngModel pattern=".{8,}" name="Password" #Password="ngModel"
                [(ngModel)]="organizeruserService.selectedUser.Password" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input type="text" maxlength="32" matInput readonly placeholder="City" required ngModel name="orgCity"
                #orgCity="ngModel" [(ngModel)]="organizeruserService.selectedUser.orgCity" />
            </mat-form-field>
            <br />
            <mat-form-field>
              <input maxlength="32" matInput type="text" readonly placeholder="Phone Number" pattern="[789][0-9]{9}"
                required ngModel name="PhoneNo" #PhoneNo="ngModel"
                [(ngModel)]="organizeruserService.selectedUser.PhoneNo" />
            </mat-form-field>
            <re-captcha (resolved)="resolved($event)" siteKey="6LdqJs4UAAAAAOekyVubj176pKyWSoRwE_0IOANa"
              data-callback="recaptchaCallback"></re-captcha>
            <script>
              function recaptchaCallback() {
                console.log("Hello World");
                if (grecaptcha.getResponse().length !== 0) {
                  // ...
                  document.getElementById("btnSubmit").disabled = false;
                }
              }

            </script>
            <div>
              <br>
              <button id="btnSubmit" class="rm" mat-button [disabled]="!b.valid || !Captchaval" (click)="(onSubmit)">
                Create
              </button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </mat-card>
  </div>
</body>
