body {
  background-image: url(https://clubkendoupc.com/wp-content/uploads/2017/01/search-background-img.jpg);
  height: 170vh;
  background-size: cover;
  background-position: center;
}

.login-page {
  width: 400px;
  padding: 10% 0 0;
  margin: auto;
}

.form {
  background: rgba(255, 255, 255, 0.68);
  position: relative;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  overflow: hidden;
}

.form input {
  font-family: "Ubuntu", sans-serif;
  outline: 1;
  background: #afafaf36;
  width: 100%;
  border-radius: 25px;
  border: 2px solid #adafab;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

button {
  font-family: "Ubuntu", sans-serif;
}

p {
  font-family: "Ubuntu", sans-serif;
}

a:link {
  color: blue;
  text-decoration: none;
}
a:visited {
  color: purple;
  text-decoration: none;
}
a:hover {
  color: purple;
  text-decoration: none;
}
a:active {
  color: purple;
  text-decoration: none;
}

span {
  margin: 10px;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-family: "Ubuntu", serif;
  color: #ffffff;
  text-align: center;
}
