<div class="container">
    <h1 class="text-center">Big Events Page</h1>
    <!-- MUST ADD STYLING LATER -->
    <p class="text-justify">Event Name: {{ x.evnName }}</p>
    <p class="text-justify">Event Starting Date: </p>
    <p class="text-justify">Event Ending Date</p>
    <p class="text-justify">Event Organizer Page : <a href="{{ x.evnOrganizerPage }}" target="_blank">{{ x.evnOrganizerPage }}</a></p>
    <p class="text-justify">Event Description : {{ x.evnDescription }}</p>
    <p class="text-justify">Event Target Age: {{ x.evnTargetAge }}</p>
    <p class="text-justify">Event Interests</p>
    <p class="text-justify">Event Address : {{ x.evnLocation }}</p>
    <p class="text-justify">Event Organizer Name: {{ x.evnOrganizerName }}</p>
    <p class="text-justify">Event Organizer Conatct Number: {{ x.evnOrganizerContact }}</p>
    <button class="text-justify btn btn-primary">Follow Event</button>
</div>