.example-card {
  margin: 3rem;
  width: 20rem;
  height: 37rem;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

img {
  width: 20rem;
  height: 20rem;
  object-fit: scale-down;
}

.example-card2 {
  margin: 3rem;
  width: 10rem;
  height: 10rem
}
