<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <h1 style="text-align: center;">Discover Something New</h1>
        <!-- Events searching below -->
        <div class="events">
            <h3>Search For New Events </h3>
            <form #f="ngForm">
                <div class="form-group">
                    <input type="text" placeholder="Search" class="form-control" required name="keyword" ngModel #keyword="ngModel"
                        [(ngModel)]="data.selSearch.keyword">
                    <span class="help-block" *ngIf="!keyword.valid && keyword.touched">Please enter Something to search for</span>
                </div>
                <hr>
                <div class="form-group">
                    <label class="control-label">Enter 1 for regular search, 2 for deep search or 3 for archive search</label>
                    <div>
                        <input type="number" min="1" max="3" placeholder="Choice" class="form-control" required name="usecase" ngModel #usecase="ngModel" [(ngModel)]="data.selSearch.usecase">
                        <span class="help-block" *ngIf="!usecase.valid && usecase.touched">Please enter a use case</span>
                    </div>
                </div>
                <button class="btn btn-primary" [disabled]="!f.valid" (click)="onSubmit(f)">Submit Query</button>
            </form>
        </div>
    </div>
</body>