<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container" style="margin-top: 2%;">
    <h1 style="text-align: center;">Discover New Events</h1>
    <div class="events">
        <input type="text" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    <br>
    <br>
    <div class="users">
        <input type="text" placeholder="Search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>
</div>