<div class="d-md-flex h-md-100 align-items-center">

  <!-- First Half -->

  <div class="col-md-6 p-0 bg-indigo h-md-100">
    <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
      <div class="logoarea pt-5 pb-5">
        <h1>Organize an Event</h1>
        <a class="btn btn-round btn-primary" [routerLink]="['/signuporganizer']"
          routerLinkActive="router-link-active">Organize</a>
      </div>
    </div>
  </div>

  <!-- Second Half -->

  <div class="col-md-6 p-0 h-md-100">
    <div class="text-white d-md-flex align-items-center h-100 p-5 text-center justify-content-center">
      <div class="logoarea pt-5 pb-5">
        <h1 style="color: black;">Participate in an Event</h1>
        <a class="btn btn-round btn-primary" [routerLink]="['/signup']"
          routerLinkActive="router-link-active">Participate</a>
      </div>
    </div>
  </div>

</div>
