<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="color: white">{{ username }}</mat-toolbar>
    <mat-nav-list *ngIf="isStudent">
      <a mat-list-item [routerLink]="['/dashboard']" routerLinkActive="router-link-active" style="color: white"><i class="fa fa-home" style="margin-right: 1rem;"></i>Dashboard</a>
      <a mat-list-item [routerLink]="['/events']" routerLinkActive="router-link-active" style="color: white"><i class="fa fa-calendar" style="margin-right: 1rem;"></i>Events</a>
      <a mat-list-item [routerLink]="['/achievements']" routerLinkActive="router-link-active" style="color: white"><i class="fa fa-trophy" style="margin-right: 1rem;"></i>Achievements</a>
      <a mat-list-item [routerLink]="['/interests']" routerLinkActive="router-link-active" style="color: white"><i class="fa fa-plus" style="margin-right: 1rem;"></i>Interests</a>
      <a mat-list-item [routerLink]="['/userprofile']" routerLinkActive="router-link-active" style="color: white" ><i class="fa fa-user" style="margin-right: 1rem;"></i>Profile</a>
      <a mat-list-item [routerLink]="['/academics']" routerLinkActive="router-link-active" style="color: white" ><i class="fa fa-book" style="margin-right: 1rem;"></i>Academics</a>
      <a mat-list-item [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="logout()" style="color: white"><i class="fa fa-power-off" style="margin-right: 1rem;"></i>Logout</a>
      <form class="form-inline notdisplaying" #g="ngForm">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword" ngModel #keyword="ngModel" required [(ngModel)]="searchService.selSearch.keyword">
        <br>
        <br>
        <button class="btn btn-success" style="margin: 1rem;" (click)="search(g)" [disabled]="!g.valid">Search</button>
      </form>
    </mat-nav-list>
    <mat-nav-list *ngIf="isOrg">
      <a mat-list-item [routerLink]="['/orgdashboard']" routerLinkActive="router-link-active" style="color: white"><i class="fa fa-home" style="margin-right: 1rem;"></i>Dashboard</a>
      <a mat-list-item [routerLink]="['/eventsorg']" routerLinkActive="router-link-active" style="color: white"><i class="fa fa-calendar" style="margin-right: 1rem;"></i>Events</a>
      <a mat-list-item [routerLink]="['/login']" routerLinkActive="router-link-active" (click)="logout()" style="color: white"><i class="fa fa-power-off" style="margin-right: 1rem;"></i>Logout</a>
      <form class="form-inline notdisplaying" #f="ngForm">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword" ngModel #keyword="ngModel" required [(ngModel)]="searchService.selSearch.keyword">
        <br>
        <br>
        <button class="btn btn-success" (click)="search(f)" style="margin: 1rem;" [disabled]="!f.valid">Search</button>
      </form>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <a [routerLink]="['/']" routerLinkActive="router-link-active" style="text-decoration: none; color: black; margin-right: 3px;"><span>Athena</span></a> -->
      <form class="form-inline displaying" #h="ngForm">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword" ngModel #keyword="ngModel" required [(ngModel)]="searchService.selSearch.keyword">
        <button class="btn btn-outline-success" (click)="search(h)" [disabled]="!h.valid">Search</button>
      </form>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
